/*********************************
min-width : 1024 css
*********************************/
@media screen and (max-width: 1800px) and (min-width: 1024px) {
  .content-area > section {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/*********************************
모바일 css
*********************************/

@media screen and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
  .mo-only {
    display: block !important;
  }
  /*********
    font
  **********/

  /* tit */
  [class*="tit-type"] {
    color: #000;
    font-family: "Pretendard", sans-serif;
    font-style: normal;
    font-weight: 600;
  }
  .tit-type01 {
    font-size: 2.5rem;
    line-height: 125%;
  }
  .tit-type02 {
    font-size: 2.25rem;
    line-height: 125%;
  }
  .tit-type03 {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .tit-type04 {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .tit-type05 {
    font-size: 1rem;
    line-height: 140%;
  }
  .contitle-type01 {
    font-size: 2.25rem;
    line-height: 125%;
  }
  .contitle-type02 {
    font-size: 1.875rem;
    line-height: 140%;
  }
  /* txt */
  .txt-type01 {
    font-size: 1.5rem;
  }
  .txt-type02 {
    font-size: 1.25rem;
  }
  .txt-type03 {
    font-size: 1rem;
  }
  .txt-type04 {
    font-size: 0.875rem;
  }
  .txt-type05 {
    font-size: 0.75rem;
  }
}
