/*********************************
min-width : 1024 css
*********************************/
@media screen and (max-width: 1800px) and (min-width: 1024px) {
  .content-area > section {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/*********************************
모바일 css
*********************************/

@media screen and (max-width: 1023px) {
  .pc-only {
    display: none;
  }
  .mo-only {
    display: block;
  }
  /*********
    font
  **********/

  /* tit */
  [class*="tit-type"] {
    color: #000;
    font-family: "Pretendard", sans-serif;
    font-style: normal;
    font-weight: 600;
  }
  .tit-type01 {
    font-size: 2.5rem;
    line-height: 125%;
  }
  .tit-type02 {
    font-size: 2.25rem;
    line-height: 125%;
  }
  .tit-type03 {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .tit-type04 {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .tit-type05 {
    font-size: 1rem;
    line-height: 140%;
  }
  .contitle-type01 {
    font-size: 2.25rem;
    line-height: 125%;
  }
  .contitle-type02 {
    font-size: 1.875rem;
    line-height: 140%;
  }
  /* txt */
  .txt-type01 {
    font-size: 1.5rem;
  }
  .txt-type02 {
    font-size: 1.25rem;
  }
  .txt-type03 {
    font-size: 1rem;
  }
  .txt-type04 {
    font-size: 0.875rem;
  }
  .txt-type05 {
    font-size: 0.75rem;
  }

  /*********
    btn 
  *********/
  [class*="btn-lg"] {
    padding: 17px 20px;
    font-size: 16px;
    line-height: 16px;
  }
  [class*="lg-txt-btn"] {
    font-size: 16px;
    line-height: 16px;
  }
  [class*="xl-txt-btn"] {
    font-size: 20px;
    line-height: 28px;
  }
  [class*="btn-md"] {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 14px;
  }
  [class*="md-txt-btn"] {
    font-size: 14px;
    line-height: 14px;
  }
  [class*="btn-icon"] {
    display: inline-block;
    background-repeat: no-repeat !important;
    background-position: center;
  }
  [class*="btn-lg"] [class*="btn-icon20"],
  [class*="lg-txt-btn"] [class*="btn-icon20"] {
    width: 16px;
    height: 16px;
  }
  .btn[class*="-primary"] [class*="btn-icon20"],
  .btn[class*="-outline"] [class*="btn-icon20"] {
    margin-left: 4px;
  }
  .btn[class*="btn-lg-outline"] .btn-paging ~ .btn-icon20 {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
  .btn-wrap-type1 > .btn {
    width: 100%;
  }
  .btn-wrap-type2 > .btn {
    width: 50%;
  }
  .btn-wrap-type3 {
    flex-wrap: wrap;
  }
  .btn-wrap-type3 > .btn {
    width: 100%;
  }
  .btn-wrap-type4 {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0;
  }
  .btn-wrap-type4 > .btn:not(:last-child) {
    width: calc(50% - 6px);
  }
  .btn-wrap-type4 > .btn:first-child {
    margin-right: 12px;
  }
  .btn-wrap-type4 > .btn:last-child {
    width: 100%;
    margin-top: 8px;
  }
  .btn-wrap-type6 {
    flex-direction: column;
  }
  .btn-wrap-type6 > .btn {
    width: 100%;
  }
  /*********
    tab
  **********/
  .tab-head {
    display: block;
  }

  .tabs-wrap .tabs {
    margin-top: 28px;
  }

  .tab-content {
    margin-top: 28px;
  }

  .tab-head.ty02 {
    display: flex;
    justify-content: center;
  }
  .tab-head.ty02 .tabs-wrap {
    flex-grow: 1;
    width: 100%;
  }
  .tab-head.ty02 .tabs {
    display: block;
  }
  .tab-head.ty02 .tabs li {
    float: left;
    text-align: center;
    border-collapse: collapse;
  }

  .tab-head.ty02 .tabs li:nth-last-child(n + 4),
  .tab-head.ty02 .tabs li:nth-last-child(n + 4) ~ li {
    width: calc(100% / 2);
  }

  .tab-head.ty02 .tabs li:nth-last-child(n + 4) ~ li:nth-child(2n) {
    border-right: 1px solid #555;
  }

  .tab-head.ty02 .tabs li:nth-last-child(n + 4) ~ li:nth-child(n + 3) {
    border-top: 0;
  }

  .tab-head.ty02 .tabs.ty-blue li:nth-last-child(n + 4) ~ li.on:nth-child(2n) {
    border-right: 1px solid #de3111;
  }

  .tab-head.ty02 .tabs.ty-blue li:nth-last-child(n + 4) ~ li.on:nth-child(2n) {
    border-right: 1px solid #aacae6;
  }

  .tab-head.ty03 .tabs-wrap .tabs {
    width: 100%;
  }
  .tab-head.ty03 .tabs-wrap .tabs li {
    width: 50%;
  }
  .tab-head.ty03 .tabs-wrap .tabs li a {
    text-align: center;
    padding: 11px 0;
  }

  /***
    contents-box 
  ***/
  .conts-key-visual .img-area {
    height: 640px;
  }

  .conts-key-visual .text-area {
    display: block;
    position: static;
    transform: revert;
    color: #000;
    padding: 40px 24px 100px 24px;
  }

  .conts-key-visual .text-area .tit {
    font-size: 24px;
    line-height: 33.6px;
  }
  .conts-key-visual .text-area .desc {
    font-size: 18px;
    line-height: 25.2px;
    margin-top: 12px;
  }
  .content-area > section {
    padding-left: 24px;
    padding-right: 24px;
  }

  .conts-box-wrap.ty03 {
    padding-top: 0;
  }
  .bg-black .conts-box-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .conts-box-wrap.ty03 .bg-img-wrap {
    position: static;
    transform: translate(0, 0);
    min-height: 509px;
  }
  .conts-box-wrap article {
    padding: 60px 0;
  }

  .conts-box-wrap article:first-child {
    padding-top: 16px;
  }

  .conts-box-wrap .bg-img-wrap {
    background: url("../images/img/conts_bg_img01.svg") no-repeat 100%;
    background-position: center;
    min-height: 509px;
    padding: 64px 20px;
    text-align: center;
  }

  .conts-box-wrap .tit {
    font-size: 30px;
    line-height: 42px;
  }

  .conts-box-wrap.ty02 .tit {
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 28px;
  }

  .conts-box-wrap .img-area {
    height: 175px;
  }
  .conts-box-wrap .txt-area {
    padding-top: 36px;
  }
  .conts-box-wrap .desc {
    font-size: 18px;
    line-height: 25.2px;
    margin-top: 12px;
  }

  .conts-box-wrap .bg-img-wrap .more_btn {
    position: absolute;
    top: revert;
    width: calc(100% - 72px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 36px;
    padding: 12px 16px;
  }

  .txt-list-wrap {
    overflow: auto;
  }
  .txt-list-wrap li {
    margin-right: 12px;
  }

  .txt-list-wrap li:last-child {
    margin-right: 0;
  }
  .txt-list-wrap li .txt-box {
    width: 258px;
    height: 266px;
    background-color: #f0f0f0;
    padding: 24px 16px 28px 16px;
  }
  .txt-list-wrap li .num {
    font-size: 24px;
    line-height: 33.6px;
  }

  .txt-list-wrap li .desc {
    font-size: 17px;
    line-height: 23.8px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }

  /*********
    card
  **********/
  /* grid layout */
  .grid_mo_scroll {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 0 1.5rem;
    overflow-x: scroll;
  }
  .grid_mo_scroll > * {
    flex-shrink: 0;
    width: 100%;
    min-width: 16.125rem;
    max-width: calc(33.3% - 0.75rem);
  }
  .grid_mo_drop {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }
  .grid_masonry {
    display: block;
  }
  .grid_masonry .masonry_item + .masonry_item {
    margin-top: 1.25rem;
  }

  /* card_type01 */
  .card_type01 {
    max-width: 100%;
    min-width: 16.125rem;
    height: 26.875rem;
    min-height: 26.875rem;
  }
  .card_type01.card_swiper {
    height: 16.3rem;
  }
  .card_type01 .card_top {
    padding: 1rem 1.25rem 0 1.25rem;
  }
  .card_type01 .card_profile img {
    width: 12.5rem;
  }
  .card_type01.card_team .card_profile img {
    width: 12.5rem;
  }
  .card_type01.card_swiper .card_profile img {
    width: 8.9375rem;
  }
  .card_type01.card_swiper:hover .card_profile img,
  .card_type01.card_swiper:active .card_profile img,
  .card_type01.card_swiper:focus .card_profile img {
    margin-bottom: 0;
  }
  .card_type01 .card_rank {
    font-size: 2.5rem;
  }
  .card_type01 .card_num {
    font-size: 2.25rem;
  }
  .card_type01 .card_bottom {
    padding: 0.75rem 1.25rem;
    height: 8.6875rem;
  }
  .card_type01.card_swiper .card_bottom {
    padding: 1.16rem 1.25rem;
    height: 5.38rem;
  }
  .card_type01 .card_tit {
    margin-bottom: 0;
    font-size: 1.125rem;
  }
  .card_type01 .card_detail {
    gap: 0;
    margin-top: 1rem;
  }
  .card_type01 .card_detail li {
    flex-direction: column;
    align-items: normal;
    padding: 0 0.75rem 0;
    max-width: 100%;
  }
  .card_type01 .card_detail li:first-of-type {
    padding-left: 0;
  }
  .card_type01 .card_detail li:last-of-type {
    padding-right: 0;
  }
  .card_type01 .card_detail li + li {
    border-left: 0.0625rem solid rgb(230, 239, 248, 0.3);
  }
  .card_type01 .card_detail li span:first-of-type {
    font-size: 0.75rem;
    font-weight: 400;
  }
  .card_type01 .card_detail li span:last-of-type {
    font-size: 1.125rem;
  }
  .card_type01:hover .card_more,
  .card_type01:active .card_more,
  .card_type01:focus .card_more {
    display: none;
  }

  .grid_mo_drop .card_type01 {
    width: 100%;
    height: 20rem;
    max-width: 100%;
  }
  .grid_mo_drop .card_type01 .card_profile img {
    width: 10rem;
    height: 10rem;
  }
  .grid_mo_drop .card_type01:hover .card_profile img,
  .grid_mo_drop .card_type01:active .card_profile img,
  .grid_mo_drop .card_type01:focus .card_profile img {
    margin-bottom: 0;
  }
  .grid_mo_drop .card_type01.card_team .card_profile img {
    width: 12.5rem;
  }
  .grid_mo_drop .card_type01 .card_rank {
    font-size: 1.875rem;
  }
  .grid_mo_drop .card_type01 .card_num {
    font-size: 1.875rem;
  }
  .grid_mo_drop .card_type01:not(.card_swiper) .card_bottom {
    height: 8.75rem;
  }
  .grid_mo_drop .card_type01 .card_tit {
    margin-bottom: 0.25rem;
  }
  .grid_mo_drop .card_type01 .card_detail li {
    max-width: 100%;
    padding: 0 1.88rem;
  }
  .grid_mo_drop .card_type01 .card_detail li:first-of-type {
    padding-left: 0;
  }
  .grid_mo_drop .card_type01 .card_detail li:last-of-type {
    padding-right: 0;
  }

  /* card_type02 */
  .card_type02 {
    height: 31.25rem;
    padding: 1.5rem 1.25rem 1.75rem 1.25rem;
  }
  .card_type02 .card-tit {
    font-size: 1.25rem;
  }
  .card_type02 .card_img {
    height: 13.4375rem;
  }
  .card_type02 .card_detail {
    margin: 0.75rem 0 2.25rem 0;
  }
  .card_type02 .card_month {
    font-size: 1.125rem;
  }
  .card_type02 .card_day {
    font-size: 2.5rem;
  }

  /* card_type03 */
  .card_type03 {
    height: 14rem;
  }
  .card_type03.card_ranker {
    height: 17.5625rem;
  }
  .card_type03 .card_top {
    padding: 1.44rem 1.31rem 0 1.25rem;
  }
  .card_type03.card_ranker .card_top {
    padding: 1.31rem 1.31rem 0 1.25rem;
    align-items: flex-end;
  }
  .card_type03 .card_rank {
    font-size: 2.25rem;
  }
  .card_type03.card_ranker .card_rank {
    font-size: 2.5rem;
  }
  .card_type03 .card_top .card_detail {
    gap: 0.25rem;
  }
  .card_type03 .card_point {
    font-size: 1.25rem;
  }
  .card_type03 .card_bottom {
    gap: 0.75rem;
    height: 5rem;
  }
  .card_type03 .card_bottom .card_detail {
    gap: 0.31rem;
  }
  .card_type03 .card_name {
    font-size: 1.25rem;
  }

  /* card_type04 */
  .card_type04 .card_state {
    padding: 14px 16px 13px 16px;
    background-color: #de3111;
    text-align: left;
    color: #fff;
  }
  .card_type04 .card_step {
    font-size: 18px;
    line-height: 25.2px;
  }
  .card_type04 .card-hashtag {
    margin-top: 20px;
  }
  .card_type04 .card_date {
    margin-top: 12px;
  }
  .card_type04 .card_con p.tit-type03 {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .card_type04 .card_tag + .card_tag.noti-tag {
    margin-left: 8px;
  }

  /* card_type05 */
  .grid_mo_scroll .card_type05 {
    width: 100%;
    min-width: 16.125rem;
  }
  .grid_mo_drop .card_type05 .card_top {
    padding-top: calc((208 / 312) * 100%);
  }
  .grid_mo_scroll .card_type05 .card_top {
    padding-top: calc((208 / 312) * 100%);
  }
  .card_type05 .card_bottom {
    padding: 1.25rem 1.25rem 1.75rem 1.25rem;
  }
  .grid_2 .card_type05 .card_bottom {
    min-height: 0;
  }
  .grid_3 .card_type05 .card_bottom {
    height: 14.9rem;
    min-height: 0;
  }
  .card_type05 .card_tit {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .card_type05 .card_detail {
    max-width: max-content;
    margin: 0.75rem 0 1rem 0;
    font-size: 1.0625rem;
  }
  .card_type05 .btn-wrap {
    padding: 0.438rem 0;
  }

  /* card_video */
  .card_video .card_img {
    margin-bottom: 1rem;
  }
  .card_video .card_play {
    width: 67px !important;
    height: 67px !important;
  }
  .grid_2 .card_video .card_play {
    width: 6.25rem;
    height: 6.25rem;
  }
  .grid_3 .card_video .card_play {
    width: 6.25rem;
    height: 6.25rem;
  }
  .grid_2 .card_video .card_img {
    padding-top: calc((234 / 312) * 100%);
  }
  .grid_3 .card_video .card_img {
    padding-top: calc((234 / 312) * 100%);
  }
  .card_video .card_title {
    font-size: 1.25rem;
  }
  .card_video .card_tag {
    margin: 1rem 0;
  }
  .card_video .card_date {
    margin-top: 1rem;
  }
  .card_video .card_detail {
    margin-top: 0.75rem;
  }

  /* list */
  .wrap-list.list01 .btn.btn-md-outline01 {
    display: none;
  }
  .wrap-list .tabs-wrap .tabs li {
    width: 100%;
    text-align: center;
  }

  .wrap-list .tab-head .title {
    font-size: 36px;
    line-height: 45px;
  }

  .wrap-list .__bottom {
    display: flex;
    flex-wrap: nowrap;
    border-top: none;
    overflow-x: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .wrap-list .__bottom .wrap-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: none;
    background: #f0f0f0;
    padding: 24px 16px;
    margin-right: 12px;
    max-height: 100%;
    flex-direction: column;
  }
  .wrap-list .__bottom .wrap-lists:last-child {
    margin-right: 0;
  }
  .wrap-list .__bottom .wrap-lists .list-box:nth-child(1) {
    margin-bottom: 60px;
    margin-right: auto;
    max-width: 168px;
  }
  .wrap-list .__bottom .wrap-lists .list-box:nth-child(2) p {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
  }
  .wrap-list .__bottom .wrap-lists .list-box:nth-child(3) {
    text-align: left;
    margin-top: 12px;
    margin-bottom: 80px;
  }

  .wrap-list.list02 .__bottom .wrap-lists .list-box:nth-child(3) {
    margin-top: 12px;
    margin-bottom: 80px;
    max-width: 100%;
    width: 220px;
    margin-left: 0;
  }

  .wrap-list .__bottom .wrap-lists p {
    padding: 0;
  }

  /* list03 track map */
  .wrap-list.list03 {
    flex-direction: column;
  }

  .wrap-list.list03 .left img {
    max-width: 237px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  .wrap-list.list03 .left.imgwrap {
    padding: 37px 50px;
    max-width: 312px;
    margin-top: 0;
    margin-right: 0;
  }

  .wrap-list.list03 .right.descwrap h2.tit {
    font-size: 2.25rem;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
  }

  .wrap-list.list03 .right.descwrap h2.sub-tit {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    margin-top: 0;
  }

  .wrap-list.list03
    .right.descwrap
    .list-trackinfo
    .inner
    p.txt-type03:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
  }

  .wrap-list.list03 .right.descwrap .list-trackinfo .inner p:nth-child(2) {
    font-size: 20px;
  }

  .wrap-list.list03 .right {
    padding: 0;
    margin-top: 36px;
    width: 100%;
    max-width: 100%;
  }
  .wrap-list.list03 .right.descwrap .list-trackinfo {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
  }

  .wrap-list.list03 .right.descwrap .list-trackinfo .inner {
    padding: 24px 0;
  }

  /* list 04 */
  .wrap-list.list04 .inner .box .box-desc {
    padding: 0;
    width: 100%;
  }
  .wrap-list.list04 h3.tit {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.813rem;
    /* line-height: 85px; */
  }

  .wrap-list.list04 .inner {
    margin-top: 1.75rem;
  }

  .wrap-list.list04 .inner .box {
    padding: 1.75rem 0 0 0;
  }

  .wrap-list.list04 .inner .box.box01,
  .wrap-list.list04 .inner .box.wrap-multi-box {
    flex-direction: column;
  }

  .wrap-list.list04 .inner .box.box01 {
    padding: 1.75rem 0;
  }
  .wrap-list.list04 .inner .box .box-desc.right .desc-note {
    margin-top: 8px;
  }
  .wrap-list.list04 .inner .box.box02 h3.tit:first-child {
    margin-bottom: 1.5rem;
  }

  .wrap-list.list04 .inner .box .box-desc.right .desc-location {
    margin-top: 1.25rem;
  }

  .wrap-list.list04 .inner .box.box02 h3.tit.fullwidth {
    padding: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
  }
  .wrap-list.list04 .inner .box.box02 .box-desc.left h3.tit {
    margin-bottom: 0;
  }

  .wrap-list.list04 .inner .box.wrap-multi-box:last-child {
    margin-bottom: 1.813rem;
  }

  .wrap-list.list04 .inner .box .box-desc.right .desc-location {
    font-size: 1.063rem;
    max-width: 100%;
  }

  .wrap-list.list04 .inner .box.box02 .box-desc.left h3.tit {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.575rem;
    text-align: left;
  }

  .wrap-list.list04 .inner .box .box-desc .sub-text-list li {
    font-size: 17px;
    line-height: 23.8px;
  }

  /**/
  .wrap-list .__bottom.list05 .wrap-lists .list-box:nth-child(1) p.txt-type01,
  .wrap-list .__bottom.list06 .wrap-lists .list-box:nth-child(1) p.txt-type01 {
    font-size: 18px;
  }
  .wrap-list .__bottom.list06 .wrap-lists .list-box:nth-child(1) p.txt-type05 {
    font-size: 12px;
  }
  .wrap-list .inner .__bottom.list05 {
    flex-direction: column;
  }
  .wrap-list .inner .__bottom.list05 .wrap-lists,
  .wrap-list .inner .__bottom.list06 .wrap-lists {
    background: none;
    border-bottom: 1px solid #bbb;
    padding: 27px 0 45px 0;
    margin-right: 0;
  }
  .wrap-list .inner .__bottom.list05 .wrap-lists:first-child,
  .wrap-list .inner .__bottom.list06 .wrap-lists:first-child {
    border-top: 2px solid #000;
  }
  .wrap-list .inner .__bottom.list05 .wrap-lists .list-box:nth-child(1) {
    margin-bottom: 8px;
  }
  .wrap-list
    .inner
    .__bottom.list05
    .wrap-lists
    .list-box:nth-child(2)
    p.txt-type05,
  .wrap-list
    .inner
    .__bottom.list06
    .wrap-lists
    .list-box:nth-child(2)
    p.txt-type05 {
    font-size: 12px;
  }
  .wrap-list .inner .__bottom.list05 .wrap-lists .list-box:nth-child(3) {
    margin-top: -1.2rem;
    margin-bottom: 0;
  }
  .wrap-list.list05
    .__bottom.list05
    .wrap-lists
    .list-box:nth-child(3)
    p.txt-type03,
  .wrap-list.list06 .__bottom .wrap-lists .list-box p.txt-type03 {
    font-size: 1rem;
  }
  /**/

  .wrap-list .tit.small {
    font-size: 1.875rem;
    line-height: 2.625rem;
  }

  /* list06 */
  .wrap-list .inner .__bottom.list06 {
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 24px;
  }
  .wrap-list .inner .__bottom.list06 .wrap-lists {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto;
  }
  .wrap-list .inner .__bottom.list06 .wrap-lists .list-box:first-child {
    margin: 0 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .wrap-list .inner .__bottom.list06 .wrap-lists .list-box:last-child {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
  }
  .wrap-list
    .inner
    .__bottom.list06
    .wrap-lists.list-only-single
    .list-box:last-child {
    align-items: flex-start;
  }
  .wrap-list
    .inner
    .__bottom.list06
    .wrap-lists.list-only-single
    .list-box
    p.txt-type05 {
    margin-right: auto;
  }

  /* 06 btntype */
  .wrap-list .inner .__bottom.list06 .wrap-lists.btn-type {
    background: none;
    padding: 27px 0 45px 0;
    margin-right: 0;
    display: flex;
  }
  .wrap-list .inner .__bottom.list06 .wrap-lists.btn-type:first-child {
    border-top: 2px solid #000;
  }
  .wrap-list
    .inner
    .__bottom.list06
    .wrap-lists.btn-type
    .list-box:nth-child(1) {
    margin-bottom: 8px;
    align-items: self-end;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrap-list
    .inner
    .__bottom.list06
    .wrap-lists.btn-type
    .list-box:nth-child(1)
    .wrap-txtList-header {
    width: 100%;
  }
  .wrap-list
    .inner
    .__bottom.list06
    .wrap-lists.btn-type
    .list-box:nth-child(1)
    .wrap-txtList-header
    p.txt-type05 {
    font-size: 12px;
    margin-top: 8px;
  }
  .wrap-list
    .inner
    .__bottom.list06
    .wrap-lists.btn-type
    .list-box:nth-child(1)
    div:last-child {
    display: flex;
    height: 100%;
    align-items: stretch;
    text-align: left;
    width: 100%;
    max-width: 100%;
    justify-content: flex-start;
    flex-direction: column;
  }
  .wrap-list .__bottom.list06 .wrap-lists.btn-type .list-box:nth-child(2) {
    margin-right: 0;
  }
  .wrap-list
    .inner
    .__bottom.list06
    .wrap-lists.btn-type
    .list-box:nth-child(2)
    p.txt-type05 {
    font-size: 12px;
  }
  .wrap-list
    .inner
    .__bottom.list06
    .wrap-lists.btn-type
    .list-box:nth-child(3) {
    margin-top: -1.2rem;
    margin-bottom: 0;
  }
  .wrap-list
    .__bottom.list06
    .wrap-lists.btn-type
    .list-box:nth-child(2)
    .btn-wrap {
    display: flex;
    gap: 0 8px;
    margin-top: 16px;
  }
  .wrap-list
    .__bottom.list06
    .wrap-lists.btn-type
    .list-box:nth-child(2)
    .btn-wrap
    button {
    width: 100%;
  }

  /* list07*/
  .wrap-list.list07 .__bottom.list07 {
    display: block;
    margin-top: 0;
  }
  .wrap-list .__bottom.list07 .wrap-lists .list-box:nth-child(1) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 8px;
  }
  .wrap-list .__bottom.list07 .wrap-lists .list-box:nth-child(1) svg {
    width: 24px;
    height: 24px;
  }
  .wrap-list .__bottom.list07 .wrap-lists .list-box:nth-child(2) {
    margin-bottom: 0;
  }
  .wrap-list .__bottom.list07 .wrap-lists .list-box:nth-child(2) p.txt-type01 {
    font-size: 20px;
    margin-right: 0;
  }
  .wrap-list .__bottom.list07 .wrap-lists .list-box:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .wrap-list
    .__bottom.list07
    .wrap-lists
    .list-box:nth-child(3)
    .box-listChkRead {
    align-items: flex-start;
  }

  /* cont08 accordion */
  .wrap-dropdown-selected {
    padding: 1.25rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0 1.5rem;
  }
  .dropdown-btn {
    /* font-size: 1.063rem; */
    font-size: 17px;
    line-height: 1.488rem;
    width: 100%;
  }
  .wrap-dropdown-selected .arrow-r {
    display: none;
  }
  .wrap-dropdown-selected .btn.btn-only-icon-bg01-square {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
  }
  .wrap-dropdown-selected .btn.btn-only-icon-bg01-square .icon-down-wh {
    width: 14.4px;
    height: 14.4px;
  }
  .dropdown-menu {
    display: none;
    margin: 0;
    padding: 0;
  }
  .dropdown-menu li {
    display: flex;
    align-items: center;
    padding: 1.25rem 1.5rem 1.75rem 1.5rem; /* 20px 24px 28px 24px; */
    border-bottom: 2px solid #d9d9d9;
    gap: 0 1.5rem;
  }

  .dropdown-menu li svg.arrow-r {
    width: 1.5rem;
    height: 1.5rem;
  }
  .dropdown-btn .arrow-r {
    display: none;
    max-width: 1.5rem;
  }
  .arrow-down {
    max-width: 2.5rem;
    margin-left: 0;
  }
  .dropdown-menu a {
    font-size: 1.063rem;
    line-height: 1.488rem;
  }
  .dropdown-menu li:hover {
    background: #e6eff8;
  }
  .dropdown-on {
    display: block;
  }

  .dropdown.inMobile {
    display: block;
  }

  .dropdown.inMobile .accor02-wrap .accor02-header {
    margin-bottom: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #333;
  }

  .dropdown.inMobile .accor02-wrap .accor02-header button {
    display: flex;
  }
  .dropdown.inMobile .accor02-wrap .accor02-header button:hover,
  .dropdown.inMobile .accor02-wrap .accor02-header button:active {
    background-color: transparent;
  }
  .dropdown.inMobile .accor02-wrap .accor02-header button .arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown.inMobile .accor02-wrap .accor02-header button.rotate {
    transform: rotate(180deg);
  }

  .dropdown.inMobile .dropdown-menu {
    display: none;
  }

  .dropdown.inMobile .accor02-wrap ul {
    display: none;
  }

  .dropdown.inMobile .accor02-wrap ul.dropdown-on {
    display: block;
  }

  .dropdown.inMobile .accor02-wrap ul li {
    margin-bottom: 0;
    padding: 1rem 0;
  }

  /* dropdown add */
  .wrap-dropdown-selected {
    justify-content: space-between;
  }
  .wrap-dropdown-selected .dropdown-btn-title span.icon-right {
    display: none;
  }
  .dropdown.centered .dropdown-menu .wrap-filter {
    max-height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
  }
  .dropdown.centered .dropdown-menu .filter-cont {
    min-height: calc(100vh - 500px);
    overflow-y: auto;
  }

  .dropdown.centered .dropdown-menu .selectbox-options .option {
    border-bottom: none;
    padding: 19px 48px 19px 24px;
  }
  .dropdown-menu li:not(.dropdown-menu .moclose-btn, .dropdown-menu .option) {
    padding: 1.25rem 1.5rem;
  }
  .dropdown .wrap-dropdown-selected button.btn-only-icon-bg01-square {
    margin-left: 24px;
  }
  .dropdown-menu
    li:not(.dropdown-menu .moclose-btn, .dropdown-menu .option)
    .btn-wrap
    button.btn.btn-only-icon-bg01-square {
    margin-left: 28px;
    width: 20px;
    height: 20px;
    background: no-repeat;
  }

  .dropdown-menu
    li:not(.dropdown-menu .moclose-btn, .dropdown-menu .option)
    .btn-wrap
    span.icon-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  .dropdown
    .wrap-dropdown-selected
    button.btn-only-icon-bg01-square
    span.icon-down-wh.rotate {
    /* width: 20px;
    height: 20px; */
    width: 14.4px;
    height: 14.4px;
    background-position: center;
  }

  .wrap-dropdown-selected span.icon-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-left: 0;
  }
  .dropdown.centered
    .dropdown-menu
    .selectbox-options
    .option:not(.txt-type03.fw-type03.active) {
    border-bottom: 1px solid #d9d9d9;
    background: #fff;
  }

  .dropdown
    .wrap-dropdown-selected
    button.btn-only-icon-bg01-square
    span.icon-down-wh {
    width: 14.4px;
    height: 14.4px;
  }

  .dropdown-menu.dropdown-on li .btn-wrap a span.icon-right {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-left: 28px;
  }

  .dropdown-menu.dropdown-on li:hover .btn-wrap a span.icon-right {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    /* margin-left: 28px; */
  }

  /* table */
  .table-type01 {
    display: none;
  }
  .roundresult-wrap {
    overflow-x: scroll;
    display: flex;
  }
  .table-type02,
  .table-type03 {
    max-width: 100%;
    margin: 0;
  }
  /* .roundresult-wrap::-webkit-scrollbar {
    display: none;
  } */
  .roundresult-box {
    display: block;
    padding: 20px 0;
    background: #f0f0f0;
    min-width: 85%;
    margin-right: 12px;
  }
  .roundresult-box:last-child {
    margin-right: 0;
  }
  .roundresult-top {
    padding: 0 16px 40px 16px;
  }
  .roundresult-top p {
    font-size: 18px;
    line-height: 25.2px;
  }
  .roundresult-top p:first-child {
    color: #de3111;
    margin-bottom: 28px;
  }
  .roundresult-box dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .roundresult-box dt,
  .roundresult-box dd {
    width: 50%;
  }
  .roundresult-box dt {
    text-align: left;
    padding: 13px 0 13px 16px;
    border-top: 1px solid #d9d9d9;
  }
  .roundresult-box dd {
    text-align: right;
    padding: 13px 16px 13px 0;
    border-top: 1px solid #d9d9d9;
  }
  .roundresult-box dt:nth-child(9),
  .roundresult-box dd:last-child {
    padding-bottom: 0;
  }
  .table-scrollx {
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
  }
  .table-inner {
    width: 225%;
  }
  /* seasonstats */
  .seasonstats-box {
    max-width: 100%;
    margin: 0;
  }
  .seasonstats-box p {
    padding: 12px 20px;
    font-size: 18px;
    line-height: 25.2px;
  }
  .seasonstats-box dl {
    gap: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .seasonstats-box .blue-box {
    padding: 0;
    gap: 0;
  }
  .seasonstats-box .skyblue-box {
    padding: 0;
    gap: 0;
    border-top: 1px solid #787d80;
  }
  .seasonstats-box dl.blue-box > div {
    min-width: auto;
  }
  .seasonstats-box dl.skyblue-box > div {
    min-width: auto;
  }
  .seasonstats-box dl dt {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }
  .seasonstats-box dl dd {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
  }
  .seasonstats-box dl > div {
    flex-direction: row;
    gap: 0;
    width: 50%;
    justify-content: space-between;
  }
  .seasonstats-box .blue-box,
  .seasonstats-box .skyblue-box {
    padding: 0;
  }
  .seasonstats-box dl > div:first-child {
    padding: 20px 25.5px 12px 20px;
  }
  .seasonstats-box dl > div:nth-child(2n + 1) {
    padding: 20px 25.5px 12px 20px;
  }
  .seasonstats-box dl.blue-box > div:nth-child(2n) {
    padding: 20px 23px 12px 25.5px;
  }
  .seasonstats-box dl.skyblue-box > div:nth-child(2n) {
    padding: 20px 20px 12px 25.5px;
  }
  .seasonstats-box dl > div:not(:nth-child(5), :nth-child(6)) {
    border-bottom: 1px solid #d9d9d9;
  }
  .seasonstats-box.seasonstats-type2 p {
    background-color: #000;
  }

  /* form elements */
  .wrap-form label {
    font-size: 1.125rem;
  }
  .wrap-form.label-tit-type01 label,
  .wrap-form.label-tit-type02 label {
    font-size: 1.125rem;
  }
  .wrap-form .wrap-form-bottom.comment-type02 {
    display: grid;
    grid-template-columns: 2fr auto;
    width: 100%;
  }
  .wrap-form .wrap-form-bottom.comment-type02 p.text-num-chk {
    text-align: right;
    display: flex;
    align-items: flex-start;
    width: fit-content;
  }

  /* swiper */
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: none;
  }

  .ty01Swiper .text-area,
  .key-visual-wrap .text-area {
    bottom: 80px;
    left: 24px;
  }

  .ty01Swiper .text-area .title,
  .key-visual-wrap .text-area .title {
    font-size: 30px;
    line-height: 42px;
  }
  .ty01Swiper .text-area .desc,
  .key-visual-wrap .text-area .desc {
    margin-top: 9px;
  }
  .ty01Swiper .text-area .btn-wrap,
  .key-visual-wrap .text-area .btn-wrap {
    margin-top: 24px;
  }

  .ty01Swiper .text-area .btn-wrap .btn:not(:last-child),
  .key-visual-wrap .text-area .btn-wrap .btn:not(:last-child) {
    margin-right: 8px;
  }

  .ty01Swiper .swiper-bottom-wrap {
    width: calc(100% - 120px);
    position: absolute;
    bottom: 40px;
    left: 50px;
  }

  .ty01Swiper .swiper-bottom-wrap {
    width: calc(100% - 132px);
    position: absolute;
    bottom: 20px;
    left: 66px;
    margin: 0 auto;
  }

  .ty01Swiper .swiper-slide .img-area img {
    min-height: 640px;
  }
  .ty01Swiper .swiper-status-wrap .btn-wrap .btn {
    width: 28px;
    height: 28px;
  }

  .autoplay-progress .bar {
    bottom: 12px;
  }
  .ty02Swiper .swiper-wrapper {
    align-items: flex-start;
  }
  .ty02Swiper .text-area .list-box ul {
    flex-wrap: wrap;
  }
  .ty02Swiper .text-area .list-box ul li {
    padding-bottom: 4px;
  }
  .ty02Swiper .swiper-slide {
    /* max-width: 312px; */
  }
  .ty02Swiper .swiper-slide-active {
    /* max-width: 312px; */
  }
  .ty02Swiper .swiper-slide .img-area {
    height: 234px;
  }
  .ty02Swiper .swiper-slide-active .img-area {
    height: 234px;
  }

  .ty02Swiper .swiper-slide .img-ico {
    width: 67px;
    height: 67px;
    top: 81px;
    transform: translateX(-50%);
  }

  .ty02Swiper .text-area {
    padding-top: 16px;
  }

  .ty02Swiper .text-area .title {
    font-size: 20px;
    line-height: 28px;
  }

  .ty02Swiper .text-area > div {
    margin-top: 16px;
  }
  .ty04Swiper.swiper-card-type .swiper-slide {
    max-width: 258px;
  }

  .swiper-card-type .swiper-slide:first-child {
    margin-left: 0;
  }

  .swiper-card-type .card_type01 {
    max-height: 400px;
    min-width: revert;
    max-width: revert;
  }
  .swiper-card-type .card_top {
    padding: 24px 20px;
  }
  .swiper-card-type .card_bottom {
    padding: 32px 20px;
  }
  .swiper-card-type .card-list-wrap .card_top {
    padding: 20px 12px;
  }
  .swiper-card-type .card-list-wrap .card_bottom {
    padding: 12px;
  }

  .swiper-card-type .card_top .card_rank {
    font-size: 20px;
    line-height: 28px;
  }

  .swiper-card-type .card_bottom .card_info .card_badge {
    font-size: 18px;
    line-height: 25.2px;
  }
  .swiper-card-type .card_bottom .card_info .card_tit {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }

  .swiper-card-type .card-list-wrap .swiper-slide {
    position: relative;
    width: 96px;
  }
  .swiper-card-type .card-list-wrap .swiper-slide.active {
    width: 204px;
  }
  .swiper-card-type .card-list-wrap .swiper-slide .card_type01 {
    height: 265px;
  }
  .section_list .list-content .track-guide-box,
  .section_list .list-content .info-guide-box,
  .section_list .list-content .evt-map-wrap {
    padding-left: 24px;
    padding-right: 24px;
  }
  /* select */
  .selectbox-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 12px;
  }
  .selectbox-wrap > div {
    width: 100%;
  }
  .selectbox-trigger2 + .selectbox-options {
    top: auto;
  }
  .selectbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 50%;
    z-index: 2;
  }
  .moclose-btn {
    padding: 18px 24px 18px 0;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .moclose-btn [class*="btn-only-icon"] {
    width: 24px;
    height: 24px;
    border-radius: 0;
  }
  .moclose-btn .btn[class*="btn-only-icon"]:hover,
  .moclose-btn .btn[class*="btn-only-icon"]:active {
    background-color: transparent;
  }
  .selectbox-wrap.select-type01,
  .selectbox-wrap.select-type03 > div {
    width: 100%;
  }
  .selectbox-wrap.select-type02 > div {
    width: calc(50% - 6px);
  }
  .selectbox-wrap.select-type02 > div:nth-child(3n) {
    width: 100%;
  }
  .selectbox-trigger {
    width: 100%;
  }
  .selectbox-options {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;
  }
  .selectbox-options .option {
    padding: 19px 48px 19px 24px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
  }
  .selectbox-options .option.active {
    border-bottom: 0;
  }
  .selectbox-options .option:last-child {
    border-bottom: 0;
  }
  .selectbox-trigger2 {
    padding: 12px 16px 8px 4px;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }
  .selectbox-trigger2::after {
    position: absolute;
    content: "";
    background: url("../../inc/images/icon/icon-arrow01_down.svg") center
      no-repeat;
    width: 16px;
    height: 16px;
    right: 8px;
    background-size: 100%;
  }
  .select-large .selectbox-trigger {
    width: 100%;
  }
  .select-type04 .selectbox-trigger i > img {
    width: 24px;
    height: 24px;
  }
  .select-type04 .selectbox-options {
    top: auto;
  }

  /* search */
  .search-wrap::after {
    height: 3px;
  }
  .search-wrap.search-small {
    max-width: 100%;
  }
  .search-small .search-input-box {
    width: 100%;
  }

  .search-wrap .search-input-box {
    padding: 12px 4px 9px 0;
  }

  .search-wrap .search-input-box input {
    font-size: 20px;
    line-height: 28px;
  }
  .search-wrap .search-input-box input::placeholder {
    font-size: 20px;
    line-height: 28px;
  }

  .search-wrap .search-input-box .btn-group {
    margin-right: 12px;
  }
  .search-wrap .search-input-box .btn-group .btn-txt {
    display: none;
  }

  .search-wrap .search-input-box .btn-search {
    width: 36px;
    height: 36px;
  }
  .search-wrap .search-input-box .btn-search [class*="btn-icon24"] {
    width: 18px;
    height: 18px;
  }
  .search-container .tag-list-wrap {
    max-width: revert;
    margin: 20px auto 0 auto;
  }

  .search-small .search-input-box {
    column-gap: 0.62rem;
    width: 100%;
    padding: 0.625rem 0.5rem 0.375rem 0.5rem;
  }
  .search-small .search-input-box .btn-search {
    width: 1.5rem;
    height: 1.5rem;
  }
  .search-small .search-input-box input {
    font-size: 1rem;
  }
  .search-small .search-input-box input::placeholder {
    font-size: 1rem;
  }
  .conts-box-search {
    padding: 100px 24px 160px 24px;
  }
  .search-result-list {
    margin-top: 64px;
  }
  .search-result-list .desc {
    font-size: 24px;
    margin-bottom: 36px;
  }
  /* tag */
  .tag-list-wrap [class^="tag-list"] {
    flex-wrap: wrap;
  }
  .tag-list-wrap [class^="tag-list"] li {
    margin-bottom: 4px;
  }
  .tag-list-wrap [class^="tag-list"] li:not(:last-child) {
    margin-right: 4px;
  }
  .tag-list-wrap [class^="tag-list"] li .tag-item {
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
    padding: 6px 12px;
  }

  .tag-list-wrap [class^="tag-list"][class*="multi"] li:not(:last-child) {
    margin-right: 8px;
  }
  .page_wrap .page_prev_btn,
  .page_wrap .page_next_btn {
    max-width: 48px;
    flex: 1 0 64.35px;
    margin: 0;
  }

  .page_wrap .page_list {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 48px;
  }
  .page_wrap .page_list button {
    float: left;
    width: 25%;
    height: 48px;
    padding: 0;
  }

  /* EP040401M01 (프로필 [02.N Community 가입 한 경우], [05. N Community 폐쇄 된 경우] > 레이어 나오도록 ) ,
  CM040101 (커뮤니티 가입 : 클럽 아이콘 클릭 시 N Community 레이어 노출)
  */
  /* club-popup */
  /* .club-popup {
    position: fixed;
    background: #fff;
    width: 100%;
    min-width: auto;
    max-width: none;
    z-index: 1003;
    top: auto;
    bottom: 0;
    left: 0;
    border: 0;
    border-radius: 4px 4px 0 0;
    display: none;
  }
  .club-popup .popup-wrapper .popup-body .pop-gray {
    gap: 20px;
  }*/
  .club-popup .popup-wrapper .popup-footer {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
    margin-top: 0;
  }
  /* .popup-wrapper .popup-footer {
    padding: 16px 24px;
    bottom: 0%;
    position: fixed;
    width: 100%;
    z-index: 6;
  } */
  /* .club-popup .popup-wrapper .popup-footer .btn-wrap {
    flex: 0 0 auto;
  } */
}
