/*********************************
min-width : 1024 css
*********************************/
@media screen and (max-width: 1800px) and (min-width: 1024px) {
  .content-area > section {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 1360px) {
  /*********************************
  중간 css
  *********************************/
  .product-progress-wrap ul li:not(.arrow-next) .icon-area{
    width: 10rem;
    height: 10rem;
  }
  .product-progress-wrap ul li.arrow-next{
    padding-top:8rem;
  }

  .employment-progress-wrap ul li:not(.arrow-next) .icon-area{
    width: 8rem;
    height: 8rem;
  }
  .employment-progress-wrap ul li:not(.arrow-next) .icon-area img{
    width: 3rem;
    height: 3rem;
  }
  .employment-progress-wrap ul li.arrow-next{
    padding-top:3rem;
  }
  .none-1360 {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  /*********************************
  모바일 css
  *********************************/
  .pc-only {
    display: none !important;
  }
  .mo-only {
    display: block !important;
  }
  /*********
    font
  **********/

  /* tit */
  [class*="tit-type"] {
    color: #000;
    font-family: "Pretendard", sans-serif;
    font-style: normal;
    font-weight: 600;
  }
  .tit-type01 {
    font-size: 2.5rem;
    line-height: 125%;
  }
  .tit-type02 {
    font-size: 2.25rem;
    line-height: 125%;
  }
  .tit-type03 {
    font-size: 1.875rem;
    line-height: 140%;
  }
  .tit-type04 {
    font-size: 1.5rem;
    line-height: 140%;
  }
  .tit-type05 {
    font-size: 1rem;
    line-height: 140%;
  }
  .contitle-type01 {
    font-size: 2.25rem;
    line-height: 125%;
  }
  .contitle-type02 {
    font-size: 1.875rem;
    line-height: 140%;
  }
  /* txt */
  .txt-type01 {
    font-size: 1.5rem;
  }
  .txt-type02 {
    font-size: 1.25rem;
  }
  .txt-type03 {
    font-size: 1rem;
  }
  .txt-type04 {
    font-size: 0.875rem;
  }
  .txt-type05 {
    font-size: 0.75rem;
  }

  /* 게시판 검색영역 */
  .search-area{
    width:100%;
    max-width:100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .search-area > * {
    /* flex:0 0 calc(50% - 0.65rem); */
    border:0;
    border-bottom: 1px solid #CCC;
  }
  .search-area .selectbox-wrap select{
    padding:0.75rem 0;
    font-size:0.875rem
  }
  .search-area .wrap-form-input{
    flex : 0 0 100%;
    font-size:0.875rem;
  }
  .search-area .wrap-form-input input{
    font-size:0.875rem;
  }
  /* 게시판 리스트*/
  table.list-table{
    margin-top:2.5rem;
  }
  table.list-table thead th{
    font-size: 0.8125rem;
    font-weight: 700;
    padding:0.78rem 0.75rem ;
  }
  table.list-table tbody td{
    width:100%;
    font-size: 0.875rem;
    padding:1.56rem 0.75rem ;
  }
  table.list-table col + col{
    width:7rem;
  }
  table.list-table tbody td a{
    width:100%;
    white-space: wrap;
    font-weight: 600;
    line-height: 160%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    max-height: calc(2.8em);
  }
  /* 데이터 없는경우 */
  .non_data{
    padding:5rem 0;
  }
  
  /* 게시판 페이지 버튼 */
  .page_wrap .page_prev_btn,
  .page_wrap .page_next_btn {
    width: 2rem;
    height: 2rem;
    margin: 0;
  }

  .page_wrap .page_list {
    display: flex;
    overflow: hidden;
    justify-content: center;
  }
  .page_wrap .page_list button {
    font-size: 1rem;
    padding: 0;
  }


    /* 상세페이지 */
  .detail-table th{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 125%;
    padding:1.25rem 0;
    gap:1.25rem;
    border-top:0.125rem solid #1A1A1A;
  }
  .detail-table th p{
    flex-direction: column;
    gap: 1.25rem;
  }
  .detail-table th p [class*=division]{
    width:min-content
  }
  .detail-table th span{
    font-size: 0.8125rem;
  }
  .detail-table th span em{
    font-weight: 400;
  }
  .detail-table td{
    text-align: left;
    border-bottom:1px solid #CCC;
    padding:1.25rem 0;
  }
  .detail-table td.table_text-area{
    padding:1.25rem 0;
    font-size: 0.875rem;
  }

  .detail-table td.file{
    display: flex;
    border-top:0.125rem solid #1a1a1a;
  }

  .detail-table td.file > span{
    flex:0 0 12.5rem;
    color: #000;
    font-size:1rem;
    font-weight: 700;
    line-height: 160%;
  }

  .detail-table td.file div{
    gap:1rem;
  }

  .detail-table td.file div .item-file{
    padding-left:1.75rem;
    background:url(../images/icon/download_icon.svg)no-repeat left center;
  }

  .link-table{
    border-top:1px solid #CCC;
    margin-top:2.5rem;
  }
  .link-table td a[class*="link"]{
    padding-left:1.75rem;
    display:flex; 
    background: url(../images/icon/link_arrow-icon.svg)no-repeat left center;
    background-size: 1.25rem;
    gap:1rem;
  }

  .link-table td a.link-next{
    background: url(../images/icon/link_arrow02-icon.svg)no-repeat left center;
    background-size: 1.25rem;
  }

  .link-table td a[class*="link"] span{
    padding-left:1rem;
  }

  /* 이미지 게시판 */
  .poto_board-wrap{
    padding-top:3.75rem;
    padding-left: 1.88rem;
    padding-right: 1.88rem;
    padding-bottom:7.5rem;
  }

  .poto_board-list li{
    flex: 0 0 100%;
  }
  .poto_board-list li .img-area{
    height:auto;
  }
  .poto_board-list li .img-area img{
    height:auto;
  }
  .poto_board-list li .text-area{
    padding:1.5rem 1.25rem;
  }
  .poto_board-list li .text-area p{
    color: #1A1A1A;
    font-size: 1rem;
  }

  /* 서비스 양성교육 테이블 */
  .counselor-wrap{
    margin-top:2.5rem;
    background-color: #FAFAFA;
    padding:3.75rem 1.88rem;
  }

  .counselor-wrap table thead th{
    font-size: 0.875rem;
  }
  .counselor-wrap table thead th div span{
    font-size: 0.75rem;
  }
  .counselor-wrap table tbody th{
    font-size: 0.875rem;
  }
  .counselor-wrap table tbody td div{
    font-size: 0.875rem;
  }

  /* 우리의 고객사 */
  .customer-list{
    flex-wrap: wrap;
  }
  .customer-list li{
    flex: 0 0 calc(50% - 0.625rem);
  } 

  /* 콜센터 운영 컨설팅 프로세스 */
  .sensulting_process-wrap{
    margin-top:3.75rem;
    padding:1.25rem 1.88rem;
  }
  .sensulting_process-wrap .cal-text{
    padding-left: 0;
    padding-right: 0;
  }
  .sensulting_process-wrap:after{
    display:none;
  }
  .sensulting_process{
    padding:  2.5rem 0 0;
    max-width:none;
    overflow-x: unset;
  }

  .sensulting_process ul{
    min-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3.75rem;
  }
  .sensulting_process ul li{
    flex-direction:row;
    max-width:100%;
    gap:1.25rem;
  }
  .sensulting_process ul li .icon-area{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sensulting_process ul li .tit{
    margin-top:0;
    font-size: 0.875rem;
    text-align: left;
  }
  .sensulting_process ul li .text-area{
    display:flex;
    position:relative;
    flex-direction: column;
    gap:0;
  }
  .sensulting_process ul li .text-area::after{
    display: none;
  }
  .sensulting_process ul li .txt{
    text-align: left;
    font-size: .75rem;
    padding: 0.5rem 0 0;
    justify-content: flex-start;
    align-items: flex-start;
    background: none;
    height:auto;
  }

  /* 진행순서 */
  .product-progress-wrap{
    margin-top:3.75rem;
  }
  .stap-wrap ul{
    flex-direction: column;
  }
  .stap-wrap ul li.arrow-next{
    padding:2.5rem 0;
  }
  .stap-wrap ul li.arrow-next img{
    margin-top:0;
    transform: rotateZ(90deg);
  }
  .stap-wrap ul li:not(.arrow-next) .icon-area{
    width: 10rem;
    height: 10rem;
  }
  .stap-wrap ul li:not(.arrow-next) .icon-area img{
    width: 3.75rem;
    height: 3.75rem;
  }
  .stap-wrap ul li:not(.arrow-next) .text-area{
    font-size: 1rem;
    margin-top:1.25rem;
  }
  .addition-txt{
    font-size: 0.875rem;
  }

}
