@charset "utf-8";

@keyframes ani {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body {
  /* overflow-y: overlay; */
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}
body.fix {
  overflow: hidden !important;
}
.ui-fctab-s {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.ui-fctab-e {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* dimmed */
.dimmed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #000;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}
.pop-dimmed {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
/* 본문 바로가기 */
.skip-navigation {
  width: 100%;
}
.skip-navigation a {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 30px;
  font-weight: 600;
  position: absolute;
  top: -100px;
  overflow: hidden;
  z-index: 9999;
  width: 100%;
}
.skip-navigation a:active,
.skip-navigation a:hover,
.skip-navigation a:focus {
  top: 0;
}

.wrap {
  width: 100%;
  overflow: hidden;
}
/* header */
.header-wrap {
  height: 8.6rem;
  padding: 1.88rem 0 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.2s;
  opacity: 1;
  padding-top: calc(env(safe-area-inset-top));
  overflow: hidden;
  transition: height 0.3s;
  background-color: #fff;
  /* border-bottom: 1px solid #ebebeb; */
}

.header-wrap.on {
  height: 500px;
  border-bottom: 0;
}

.header-cont {
  width: 100%;
  padding: 0 2.5rem 0 2.5rem;
  display: flex;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ebebeb;
}
.header-wrap.on .header-cont {
  width: 100%;
}
.utile-wrap {
  position: absolute;
  top: 1.88rem;
  right: 2.5rem;
  z-index: 1;
}
.utile-wrap .utile-cont {
  display: flex;
}
.utile-wrap .utile-cont .utile-item {
  margin-right: 1.25rem;
}
.utile-wrap .account-name {
  color: #333;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 160%;
}
.utile-wrap .utile-cont .utile-list {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.utile-wrap .utile-cont .utile-list li {
  position: relative;
  padding-right: 0.8125rem;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 160%;
}
.utile-wrap .utile-cont .utile-list li:after {
  content: "";
  width: 0.0625rem;
  height: 0.625rem;
  background: #ccc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.utile-wrap .utile-cont .utile-list li:last-child {
  padding-right: 0;
}
.utile-wrap .utile-cont .utile-list li:last-child:after {
  display: none;
}

.header-cont .header-item {
  position: relative;
  z-index: 1;
  padding-top: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.header-cont .logo a {
  height: 100%;
  padding: 1.31rem 0 1.42rem;
}
.sitemap-wrap {
  flex: 1;
  max-width: 55rem;
  transition: max-width 0.3s;
}
.nav-wrap {
  padding: 0 6rem;
}
.nav-wrap .gnb__tab-btn-wrap {
  height: 5.75rem;
  display: flex;
  justify-content: space-between;
}
.header-wrap.on .sitemap-wrap {
  flex: 1;
  max-width: 60rem;
}
.nav-wrap .gnb__tab-btn-wrap button {
  padding: 1.5rem 0 2.25rem;
  color: #1a1a1a;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 160%;
  box-sizing: border-box;
}
.nav-wrap .gnb__tab-btn-wrap button:after {
  content: "";
  font-weight: 800;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3125rem;
  width: 0;
  background-color: #1a1a1a;
  transition: width 0.3s;
}
.nav-wrap .gnb__tab-btn-wrap li:hover button:after {
  width: 100%;
}

.nav-wrap .gnb__tab-btn-wrap > li {
  position: relative;
}
.nav-wrap .gnb__tab-btn-wrap ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.header-wrap.on .nav-wrap .gnb__tab-btn-wrap ul {
  padding-top: 1rem;
  display: block;
}

.nav-wrap .gnb__tab-btn-wrap ul li {
  white-space: nowrap;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1.25rem;

  text-align: center;
}
.nav-wrap .gnb__tab-btn-wrap ul li a {
  padding: 0.375rem 0;
  font-size: 1rem;
}

.nav-wrap .gnb__tab-btn-wrap ul li a:hover {
  color: #1a1a1a;
  font-weight: 600;
  border-bottom: 1px solid #1a1a1a;
}
.gnb__tab-btn-wrap {
  display: flex;
}

.header-inquiry_btn {
  padding: 0.25rem 1.25rem;
  gap: 0.5rem;
  border: 1px solid #1a1a1a;
  display: inline-flex;
  align-items: center;
  height: 2.5rem;
  margin-bottom: 1.63rem;
}

.header-inquiry_btn:after {
  content: "";
  display: block;
  margin-left: 0.5rem;
  background-image: url(../images/icon/header_next_icon.svg);
  width: 2rem;
  height: 2rem;
}

/*  */
.content-wrap {
  /* background-color: #000; */
  width: 100%;
  padding-top: 8.6rem;
  padding-bottom:6.25rem;
  /* height: 100vh; */
  /* position: absolute;
  top: 0; */
}
.content-wrap.footer-no-mt {
  padding-bottom:0;
}
/* 푸터 footer */
.footer-wrap {
  width: 100%;
  margin: 0 auto ;
  padding: 5rem 2.5rem 2.5rem 2.5rem;
  background: #000;
}
.footer-no-mt + .footer-wrap {
  margin-top: 0;
}
.footer-area {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 1600px;
  flex-direction: column;
  align-items: flex-start;
  background: #000;
}

.footer-logo {
  position: absolute;
  top: 0;
  right: 0;
}

.footer-item01 {
  width: 100%;
  padding-right: 12rem;
}
.footer-item01 .footer-site_map {
  display: flex;
  max-width: 61.875rem;
  width: 100%;
  justify-content: space-between;
}

.footer-item01 .footer-site_map .footer-site_map-tit {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 110%;
}

.footer-item01 .footer-site_map li ul {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-item01 .footer-site_map li ul a {
  color: #d9d9d9;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
  position: relative;
  padding: 0.13rem;
}
.footer-item01 .footer-site_map li ul a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #d9d9d9;
  transition: width 0.3s;
}
.footer-item01 .footer-site_map li ul a:hover:after {
  width: 100%;
}

.footer-item02 .select-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 14rem;
}
.footer-item02 .select-wrap .select-cont {
  right: 0;
  border: 1px solid #666;
  background: #000;
  padding: 0 1.5rem;
  max-height: 0px;
  overflow-y: auto;
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;
  min-width: 100%;
}
.footer-item02 .select-wrap.on .select-cont {
  max-height: 400px;

  padding: 0.75rem 1.5rem;
  opacity: 1;
}
.footer-item02 .select-wrap .select-cont a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 110%;
  padding: 0.41rem 0;
}

.footer-bottom {
  width: 100%;
  max-width: 1600px;
  padding: 2.5rem 0 0;
  margin: 2.5rem auto 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: right;
  color: #ccc;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 110%;
  display: flex;
  justify-content: space-between;
}
.footer-util {
  display: flex;
  gap: 1.25rem;
}
.footer-util li {
  color: #ccc;
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
}
.footer-util li a {
  color: #fff;
  display: flex;
  align-items: center;
}
.footer-util li::before {
  content: "";
  display: block;
  width: 0.0625rem;
  height: 0.875rem;
  background-color: #fff;
  opacity: 0.4;
  margin-right: 1.25rem;
}
.footer-util li:nth-child(2) a {
  color: #ccc;
}
.footer-util li:first-child a {
  font-weight: 600;
}
.footer-util li:last-child a,
.footer-util li:last-child span {
  margin-left: 0.75rem;
}
.footer-util li:first-child::before {
  display: none;
}
.footer-info {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
/* 공통 */
.select-wrap {
  position: relative;
}

.select-btn {
  width: 100%;
  display: flex;
  color: #fff;
  border: 1px solid #666;
  display: flex;
  padding: 0.75rem 1rem 0.75rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

.select-cont {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 100vw;
  padding: 0.75rem 0 0.75rem 0;
  align-items: center;
  gap: 0.5rem;
}
.select-cont li {
  width: 100%;
  display: flex;
}

.select-btn::after {
  content: "";
  background-image: url(../images/icon/arrow_top_icon.svg);
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.4s;
}

.select-wrap.on .select-btn::after {
  transform: rotateX(-180deg);
}

/* sub page 서브페이지 */
.content-header {
  position: relative;
  height: calc(100vh - 8.6rem);
}
.content-header .content-header-cont {
  position: absolute;
  padding: 0 2.5rem;
  width: 100%;
  max-width: 1600px;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.content-header .subp-tit-area {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.content-header .subp-txt {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 160%;
  transition: color 0.3s;
}
.content-header .subp-txt.on {
  color: #fff;
}
.content-header .subp-tit {
  color: #000;
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 130%;
  transition: color 0.3s;
}
.content-header .subp-tit.on {
  color: #fff;
}
.content-header .page-map-wrap {
  position: absolute;
  right: 2.5rem;
  bottom: 1rem;
  display: flex;
  gap: 1.75rem;
}
.content-header .page-map-wrap > li {
  display: flex;
  align-items: center;
}
.content-header .page-map-wrap > li::after {
  content: "";
  display: block;
  width: 0.0625rem;
  height: 1rem;
  background: rgba(0, 0, 0, 0.2);
  margin-left: 1.75rem;
  transition: background 0.3s;
}
.content-header .page-map-wrap.on > li::after {
  background: rgba(255, 255, 255, 0.6);
}
.content-header .page-map-wrap > li:last-child:after {
  display: none;
}
.content-header .page-map-wrap a {
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  transition: color 0.3s;
}
.content-header .page-map-wrap > li:last-of-type {
  position: relative;
}
.content-header .page-map-wrap > li:last-of-type .page-map {
  position: absolute;
  top: 100%;
  width: calc(100% + 1.75rem);
  right: 0;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

.content-header .page-map-wrap > li:last-of-type .page-map li a {
  display: flex;
  width: 100%;
  padding: 0.75rem 1.75rem;
  align-items: center;
  gap: 0.75rem;
  color: #666;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}
.content-header .page-map-wrap > li:last-of-type .page-map li a:hover {
  color: #1a1a1a;
  background: #f5f5f5;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 160%;
}

.content-header .page-map-wrap button {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 160%;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  transition: color 0.3s;
}
.content-header .page-map-wrap.on a {
  color: rgba(255, 255, 255, 0.6);
}
.content-header .page-map-wrap.on button {
  color: #fff;
}
.content-header .page-map-wrap button:after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/icon/sub-header_arrow.svg) no-repeat;
  background-size: cover;
}
.content-header .page-map-wrap.on button:after {
  background: url(../images/icon/sub-header_arrow-w.svg) no-repeat;
}
.content-header .content-header_bg {
  position: relative;
  height: calc(100vh - 8.5rem);
  /* overflow: hidden; */
}
/* .content-header .content-header_bg .white_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #fff;
} */
.content-header .content-header_bg img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  object-fit: cover;
}

.content-header + .content-area {
  padding-top: calc(100vh - 8.6rem + 3.75rem);
}
