@charset "utf-8";
@media screen and (max-width: 1023px) {
  .m-dimmed {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1002;
    background: #000;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
  }
  .header-cont .logo a img {
    height: 24px;
  }
  /* 모바일 메뉴 오픈 1dep */
  .header-wrap {
    z-index: 1000;
  }
  .header-cont {
    justify-content: flex-start;
  }
  .header-wrap.menu-on .logo {
    animation: fadeout 0.3s;
    animation-fill-mode: forwards;
  }

  .header-cont .nav-wrap {
    position: absolute;
    /* height: calc(100vh - 70px); */
    background: #fff;
    width: 100vw;
    /* left: auto; */
    /* right: 100%; */
    /* transition: right 0.3s; */
  }
  /* .header-wrap.menu-on .nav-wrap {
    height: calc(100vh - 70px);
    right: 0;
  } */
  .gnb__tab-btn-wrap {
    flex-direction: column;
    gap: 0px;
    padding: 8px 0 0 0;
    position: relative;
    /* z-index: 1; */
  }
  .gnb__tab-btn-wrap [class*="gnb__tab-btn"] {
    font-family: Hyundai Sans Head;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    position: relative;
    padding: 20px 24px;
    border-bottom: 1px solid #d9d9d9;
    color: #555;
  }
  .gnb__tab-btn-wrap li:last-of-type [class*="gnb__tab-btn"] {
    border-bottom: 0;
  }
  .gnb__tab-btn-wrap [class*="gnb__tab-btn"]::after {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/icon/icon-arrow01_right_gray.svg) no-repeat center;
  }
  .gnb__tab-btn-wrap a[class*="gnb__tab-btn"]::after {
    background: url(../images/icon/icon-link_gray.svg) no-repeat center top 1px;
  }
  .gnb__tab-btn-wrap [class*="gnb__tab-btn"].on {
    color: #de3111;
    border-bottom: 1px solid #d9d9d9;
  }
  .gnb__tab-btn-wrap [class*="gnb__tab-btn"].on::after {
    background: url(../images/icon/icon-arrow01_right_red.svg) no-repeat center;
  }
  .gnb__tab-btn-wrap [class*="gnb__tab-btn"].active {
    color: #de3111;
    border-bottom: 1px solid #d9d9d9;
  }
  .gnb__tab-btn-wrap [class*="gnb__tab-btn"].active::after {
    background: url(../images/icon/icon-circle_red.svg) no-repeat center;
  }
  .header__event-wrap {
    position: absolute;
    top: calc(100vh - 405px);
    width: 100%;
    padding-bottom: 0;
    overflow-x: auto;
    /* scroll-snap-type: x mandatory; */
  }
  .header__event-wrap .header__event-area {
    width: 300vw;
  }
  [class*="header__event-item"] {
    scroll-snap-align: start;
    padding: 0 24px 10px 24px;
  }
  .header__event-wrap .img-area {
    width: 100%;
    height: 175px;
    overflow: hidden;
    position: relative;
  }
  .header__event-wrap .img-area img {
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
  .header__event-wrap .text-area {
    position: static;
    bottom: 0;
    color: #000;
  }

  .header__event-wrap .text-area h3 {
    font-size: 20px;
    line-height: 28px;
    padding: 8px 0 0 0;
  }
  .header__event-wrap .text-area p {
    font-size: 14px;
    line-height: 19.6px;
    padding: 8px 0 0 0;
  }
  .header__event-wrap .link-area {
    display: none;
  }

  .model-popup {
    width: 100vw;
    max-width: none;
    height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  /* bottom-popup */
  .bottom-popup,
  .bottom-popup2 {
    top: auto;
    left: auto;
    bottom: 0;
    background: #fff;
    max-width: none;
    width: 100%;
    transform: translate(0);
    display: none;
  }
  .side-popup {
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background: #fff;
    display: none;
    /* transition: right 2s 1s; */
    z-index: 1001;
  }
  .gnb__tab-cont-wrap,
  .gnb__panel02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: calc(100vh - 70px); */

    background-color: #fff;
  }
  .gnb__tab02-wrap.thumbnail-ui .gnb__panel02 {
    width: 100%;
  }
  .gnb__tab02-wrap.thumbnail-ui .gnb__panel02 ul {
    margin-top: 82px;
  }

  .gnb__tab-cont-wrap [class*="gnb__tab-cont"] {
    padding: 82px 0 20px 0;
    height: calc(100vh - 70px);
    background-color: #fff;
  }
  .gnb__tab-cont-wrap [class*="gnb__tab-cont"] > * {
    flex: none;
    width: 100%;
  }
  .gnb__tab02-wrap {
    display: block;
  }
  .gnb__tab02-wrap .gnb__tab02,
  .gnb__tab-cont03 .gnb__tab02-wrap .gnb__panel02 {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  [class*="gnb__tab02_"] {
    background-color: #fff;
    height: calc(100vh - 557px);
    overflow-y: auto;
  }
  .mo-gnb__back-btn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0 20px 56px;
    width: 100%;
    color: #000;
    font-family: "Pretendard", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    line-height: 140%; /* 42px */
    background: #fff url(../images/icon/icon-gnb_back.svg) no-repeat left 24px
      top 28px;
  }
  .gnb__tab-cont-wrap .gnb-content__dep2 {
    position: absolute;
    top: calc(100vh - 405px);
    width: 100%;
    padding: 0 24px;
    margin-left: 0;
  }
  .gnb__tab-cont-wrap .gnb-content__dep2 .img-area {
    width: 100%;
    height: 175px;
    overflow: hidden;
    position: relative;
  }
  .gnb__tab-cont-wrap .gnb-content__dep2 .img-area img {
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
  .gnb__tab-cont-wrap .gnb-content__dep2 .text-area {
    position: static;
    bottom: 0;
    color: #000;
  }

  .gnb__tab-cont-wrap .gnb-content__dep2 .text-area h3 {
    font-size: 20px;
    line-height: 28px;
    padding: 8px 0 0 0;
  }
  .gnb__tab-cont-wrap .gnb-content__dep2 .text-area p {
    font-size: 14px;
    line-height: 19.6px;
    padding: 8px 0 0 0;
  }
  .gnb__tab-cont-wrap .gnb-content__dep2 .link-area {
    display: none;
  }

  .gnb__tab02-wrap [class*="gnb__tab02-btn"] {
    padding: 16px 24px;
    height: auto;
  }
  .gnb__tab02-wrap li:first-of-type [class*="gnb__tab02-btn"] {
    border-top: 0;
  }
  .gnb__panel02 {
    max-height: calc(100vh - 70px);
    display: none;
  }
  .gnb__panel02 [class*="panel2"] {
    background: #fff;
    padding-top: 87px;
    position: relative;
    z-index: 1;
    height: 100%;
  }
  .gnb__panel02 .type-thumbnail {
    width: 100%;
    /* padding-top: 75px; */
  }
  .gnb__panel02 .type-thumbnail ul {
    height: calc(100vh - 157px);
    overflow-y: auto;
    padding: 0 24px;
  }
  .gnb__panel02 .type-thumbnail li {
    width: 100%;
    margin-bottom: 12px;
    height: 344px;
  }
  .gnb__panel02 .img-area {
    width: 224px;
    height: 168px;
    margin: 0 auto;
  }
  .gnb__panel02 .text-area {
    margin-top: 16px;
  }
  .gnb__panel02 .text-area h3 {
    font-size: 20px;
    font-family: Hyundai Sans Head;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
  }
  .gnb__panel02 .text-area p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    margin-top: 4px;
  }
  .gnb__panel02 .link-area {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 16px;
  }
  .gnb__panel02 .link-area .link-btn {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }

  .gnb__panel02 .link-area .link-btn span {
    display: block;
    width: 16px;
    height: 16px;
  }
  .gnb__panel02 .link-area .link-btn .icon-link {
    background: url(../../inc/images/icon/icon-link.svg);
    margin-top: -2px;
  }
  .header-cont .utile-wrap {
    padding-right: 14px;
  }
  .header-cont .utile-wrap .lang-btn {
    width: 50px;
    padding: 10px 0;
  }
  .header-cont .utile-wrap .login-btn,
  .header-cont .utile-wrap .alarm-btn {
    width: 40px;
  }

  .navigation-item02.nav-mo .rending-wrap {
    display: block;
    padding: 20px 24px 32px 24px;
    border-bottom: 1px solid #d9d9d9;
  }

  .navigation-item02.nav-mo .rending-wrap button {
    height: 20px;
  }
  .navigation-item02.nav-mo .rending-wrap li:not(:first-child) {
    padding-top: 20px;
  }
  .navigation_bar .navigation-item03 {
    flex-grow: 0;
    flex-basis: auto;
  }

  /* 07.16 추가 */
  .btn-navi-wrap {
    gap: 12px;
  }
  .btn-navi-wrap.mo-only .btn-box {
    display: flex;
  }
  .btn-navi-wrap.mo-only .btn-box .btn {
    display: block;
    width: 50%;
    padding: 12px 16px;
    border-radius: 0;
    font-size: 14px;
    line-height: 16px;
  }
  .btn-navi-wrap.mo-only .btn-box .btn:not(:last-child) {
    margin-right: 0;
  }
  .btn-navi-wrap.mo-only .btn-box .btn [class*="btn-icon"] {
    position: absolute;
  }
}
