@charset "utf-8";
@media screen and (max-width: 1360px) {
  /* 해더 header */

  .header-cont .mo-only{
    display:block !important;
  }
  .header-wrap {
    padding: 0;
    padding-top: calc(env(safe-area-inset-top));
    padding-top: calc(constant(safe-area-inset-top));
    height: auto;
    overflow: unset;
  }
  .header-cont:after{
    display: none;
  }
  .header-wrap .header-cont {
    padding: 1rem 1.75rem;
  }
  .header-wrap .header-cont .header-item {
    padding: 0;
  }
  .header-cont .logo a {
    padding: 0;
  }
  .logo {
    width: 6.11719rem;
    height: 1.8125rem;
  }
  .header-wrap .sitemap-wrap {
    display: flex;
    justify-content: flex-end;
  }
  .header-cont .nav-btn {
    height: 1.75rem;
    width: 1.75rem;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    transition: gap 0.2s;
  }
  .header-cont .nav-btn .line {
    width: 1.5rem;
    height: 0.125rem;
    background: #000;
    transition: all 0.2s;
  }
  /* .header-cont .nav-btn:hover .line {
    width: 1.5rem;
    height: 0.125rem;
    background: #de3111;
    transition: all 0.2s; */
  /* } */
  .header-cont .sitemap-wrap.on .nav-btn {
    height: 1.75rem;
    width: 1.75rem;
    gap: 0;
  }
  .header-cont .sitemap-wrap.on .nav-btn .line:nth-child(1) {
    margin-top: 2px;
    transform: rotateZ(45deg);
  }
  .header-cont .sitemap-wrap.on .nav-btn .line:nth-child(2) {
    margin-top: -2px;
    transform: rotateZ(-45deg);
  }

  .sitemap-wrap .nav-wrap {
    position: absolute;
    top: 2.8125rem;
    right: -1.75rem;
    height: 0;
    background-color: #fff;
    width: 100vw;
    padding: 0 1.88rem;
    transition: all 0.3s;
    opacity: 0;
    overflow: hidden;
  }
  .sitemap-wrap.on .nav-wrap {
    padding: 1.25rem 0 0;
    opacity: 1;
    height: calc(100vh - 3.8125rem);
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sitemap-wrap .nav-wrap .gnb__tab-btn-wrap {
    flex-direction: column;
    width: 100%;
    gap: 1.25rem;
    padding-bottom: 2rem;
    height: auto;
  }
  .sitemap-wrap .nav-wrap .gnb__tab-btn-wrap button {
    padding: 0.38rem 0;
    width: 100%;
    text-align: left;
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 110%;
  }
  .sitemap-wrap .nav-wrap .gnb__tab-btn-wrap button::after {
    background: url(../images/icon/gnb-dapth_arrow.svg) no-repeat;
    width: 1.5rem !important;
    height: 1.5rem;
    position: absolute;
    right: 0;
    left: auto;
    top: 0.5rem;
    opacity: 1;
    transform: rotateZ(0);
    transition: transform 0.3s;
  }
  .sitemap-wrap .nav-wrap .gnb__tab-btn-wrap button.on::after {
    transform: rotateZ(180deg);
  }

  .header-wrap .utile-wrap,
  .header-wrap .header-inquiry_btn,
  .header-btn-wrap{
    display: none;
  }
  .nav-wrap .gnb__tab-btn-wrap{
    padding: 0 1.88rem;
  }
  .nav-wrap .gnb__tab-btn-wrap ul {
    position: unset;
    transform: none;
    padding-top: 1.13rem;
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    display: none;
  }
  .nav-wrap .gnb__tab-btn-wrap ul li {
    padding: 0;
  }
  .nav-wrap .gnb__tab-btn-wrap ul li + li {
    margin-top: 0.75rem;
  }
  .nav-wrap .gnb__tab-btn-wrap ul li a {
    padding: 0.31rem 0.75rem;
    width: 100%;
    text-align: left;
    color: #1A1A1A;
    font-size: 1rem;
    font-weight: 400;
    line-height: 110%;
  }
  .nav-wrap .gnb__tab-btn-wrap ul li a:hover {
    color: #1a1a1a;
    font-weight: 600;
    border-bottom: 0;
  }
  .mo-utile-wrap .lang-btn{
    margin-left:auto;
    height: 2.5rem;
    width: 2.5rem;
    background: url(../../inc/images/icon/leng-kr-on_icon.svg) no-repeat center;
  }
  .mo-utile-wrap .lang-btn-en{
    margin-left:auto;
    height: 2.5rem;
    width: 2.5rem;
    background: url(../../inc/images/icon/leng-en-on_icon.svg) no-repeat center;
  }
  .sitemap-wrap .nav-wrap .depth2-menu a {
    padding: 0.38rem 0;
    width: 100%;
    text-align: left;
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 110%;
  }
  .sitemap-wrap .nav-wrap .depth2-menu a.inquiry{
    margin-top:.9rem;
    display: flex;
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 1.5rem;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    background: #F0F0F0 url(../images/icon/header_next_icon.svg) no-repeat right 1rem center;
  }
  .header-cont .mo-only.mo-utile-wrap{
    display: flex !important;
    height: 5rem;
    justify-content:space-between;
    align-items: center;
    gap: 1.25rem;
    padding: 0 1.88rem;
    background: #FAFAFA;
  }
  .header-cont .mo-only.mo-utile-wrap .utile-item p{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 160%;
  }
  .header-cont .mo-only.mo-utile-wrap .utile-item02{
    display: flex !important;
    height: 5rem;
    justify-content:flex-start;
    align-items: center;
    gap: .5rem;
  }
  .header-cont .mo-only.mo-utile-wrap .utile-item02 li{
    display: flex;
    gap: .5rem;
    align-items: center;
  }
  .header-cont .mo-only.mo-utile-wrap .utile-item02 li a{
    color: #333;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 160%;
  }
  .header-cont .mo-only.mo-utile-wrap .utile-item02 li:first-child:before{
    display: none;
  }
  .header-cont .mo-only.mo-utile-wrap .utile-item02 li::before{
    content: "";
    display: block;
    width:0.0625rem;
    height:0.625rem;
    background-color: #ccc;
  }
  /* content */
  .content-wrap {
    padding-top: 3.8125rem;
    padding-bottom:7.5rem;
  }
  /* 푸터 footer */
  .footer-wrap {
    padding: 2.5rem 1.88rem 7.5rem;
    padding-bottom:calc(env(safe-area-inset-bottom) + 7.5rem);
    padding-bottom:calc(constant(safe-area-inset-bottom) + 7.5rem);
    position: relative;
    background-color: #000;
  }
  .footer-area {
    position: static;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.75rem;
    background-color: #000;
  }

  .footer-logo {
    position: relative;
    top: auto;
    right: auto;
  }

  .footer-item01 {
    display: none;
  }

  .footer-item02 .select-wrap {
    position: absolute;
    right: 1.88rem;
    left: 1.88rem;
    bottom: 2.5rem;
    min-width: auto;
  }
  .footer-item02 .select-wrap .select-cont {
    right: auto;
    left: auto;
    width: 100%;
    border: 1px solid #666;
    background: #000;
    padding: 0 1.5rem;
    max-height: 0px;
    overflow-y: auto;
    opacity: 0;
    transition: all 0.3s;
  }
  .footer-item02 .select-wrap.on .select-cont {
    max-height: 400px;
    padding: 0.75rem 1.5rem;
    opacity: 1;
  }
  .footer-item02 .select-wrap .select-cont a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 110%;
    padding: 0.41rem 0;
  }

  .footer-bottom {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    text-align: left;
    color: #ccc;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-util {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
  }
  .footer-util li {
    color: #ccc;
    font-size: 0.875rem;
  }
  .footer-util li:first-child {
    order: 2;
  }
  .footer-util li:nth-child(2) {
    order: 3;
  }
  .footer-util li:last-child {
    order: 1;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.25rem;
  }
  .footer-util li a,
  .footer-util li span {
    color: #ccc;
    display: flex;
    font-size: 0.875rem;
  }
  .footer-util li:first-child a {
    font-weight: 600;
  }

  .footer-util li:last-child a,
  .footer-util li:last-child span {
    margin-left: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
    margin-top: 0.75rem;
    color: #fff;
  }
  .footer-util li:last-child::before {
    display: none;
  }
  .footer-info {
    display: flex;
    margin-top: 1.25rem;
    gap: 0;
    flex-direction: column;
    color: #ccc;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 160%; /* 1.2rem */
  }
  a.footer-inquiry_btn {
    display: flex !important;
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 1.5rem;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    border: 1px solid #1a1a1a;
    color: #fff;
    background: #1a1a1a;
  }

  .footer-inquiry_btn:after {
    content: "";
    display: block;
    margin-left: 0.5rem;
    background-image: url(../images/icon/footer_next_icon.svg);
    width: 1.5rem;
    height: 1.5rem;
  }
  /* 서브 페이지 공통 */
  .content-header + .content-area {
    padding-top: calc(100vh + 6rem);
  }
  /*  */
  .select-wrap {
    position: relative;
  }

  .select-btn {
    display: flex;
    color: #fff;
    border: 1px solid #666;
    display: flex;
    padding: 0.75rem 1rem 0.75rem 1.5rem;
    gap: 1.25rem;
  }

  .select-cont {
    position: absolute;
    bottom: calc(100% + 0.5rem);
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 100vw;
    padding: 0.75rem 0 0.75rem 0;
    align-items: center;
    gap: 0.5rem;
  }
  .select-cont li {
    width: 100%;
    display: flex;
  }

  .select-btn::after {
    content: "";
    background-image: url(../images/icon/arrow_top_icon.svg);
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.4s;
  }

  .select-wrap.on .select-btn::after {
    transform: rotateX(-180deg);
  }
}
@media screen and (max-width: 1024px) {
  /* sub page 서브페이지 */
  .content-header {
    position: relative;
    height: 31.25rem;
  }
  .content-header .content-header-cont {
    position: absolute;
    padding: 0 1.88rem;
    width: 100%;
    z-index: 1;
  }
  .content-header .subp-tit-area {
    gap: 1rem;
  }
  .content-header .subp-txt {
    color: 1A1A1A;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 130%;
  }
  .content-header .subp-tit {
    color: #1a1a1a;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 130%;
  }
  .content-header .page-map-wrap {
    position: absolute;
    right: auto;
    left: 1.87rem;
    bottom: -3.1rem;
    display: flex;
    gap: .75rem;
  }
  .content-header .page-map-wrap > li {
    display: flex;
    align-items: center;
  }
  .content-header .page-map-wrap > li::after {
    content: "";
    display: block;
    width: 0.0625rem;
    height: 1rem;
    margin-left: .75rem;
  }
  .content-header .page-map-wrap > li:last-child:after {
    display: none;
  }
  .content-header .page-map-wrap a {
    display: block;
    color: #000;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 160%;
  }
  .content-header .page-map-wrap button {
    color: #000;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 160%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .content-header .page-map-wrap button:after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background: url(../images/icon/sub-header_arrow.svg) no-repeat;
    background-size: cover;
  }
  .content-header .content-header_bg {
    position: relative;
    height: 31.25rem;
    /* overflow: hidden; */
  }
  /* .content-header .content-header_bg .white_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #fff;
} */
  .content-header .content-header_bg img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    object-fit: cover;
  }

  .content-header + .content-area {
    padding-top: calc(100vh + 3.75rem);
  }

  .content-wrap.footer-no-mt-mo{
    padding-bottom: 0;
  }

  a.footer-inquiry_btn {
    display: flex !important;
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 1.5rem;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    border: 1px solid #1a1a1a;
    color: #fff;
    background: #1a1a1a;
  }

  .footer-inquiry_btn:after {
    content: "";
    display: block;
    margin-left: 0.5rem;
    background-image: url(../images/icon/footer_next_icon.svg);
    width: 1.5rem;
    height: 1.5rem;
  }
  .pop-wrap{
    max-width: 19.6875rem;
    height: 23.1rem;
  }
  .pop-cont-wrap{
    height:calc(100% - 3.375rem)
  }
  .pop-wrap .swiper-slide{
    width: 19.6875rem;
    height: 19.6875rem;
  }
  .pop-foot{
    height:3.38rem;
    gap: .5rem;
  }
  .pop-foot .swiper_stop-btn{
    height: 1.25rem;  
    width: 1.25rem;
    margin-top:-1px;
    background: url(../images/icon/start_icon.svg) no-repeat center;
    background-size:cover;
  }
  .pop-foot .swiper_stop-btn.on{
    background: url(../images/icon/pause_icon.svg) no-repeat center;
    background-size:cover;
  }
  .pop-foot .checkbox label.checkbox-label span.txt{
    font-size: 0.875rem;
  }
  .pop-wrap .pop_close-btn{
    width: 2.125rem;
    height: 2.125rem;
    background: url(../images/icon/pop_close_icon.svg) no-repeat;
    background-size: cover;
  }
  .pop-foot .swiper-pagination{
    width:2.5rem;
    font-size: .875rem;
  }
  .top-btn-wrap{
    bottom:1.88rem;
    right:1.88rem;
  }
  .top-btn-wrap .top-btn{
    width:2.5rem;
    height:2.5rem;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
}
