@charset "utf-8";

.INT {
  height: auto;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  color: #1A1A1A;
}
.INT.content-item01 {
  padding-top: 0;
}
.INT.content-area {
  padding-bottom: 0;
}
[class*="content-item"]:last-child.INT {
  padding-bottom: 0;
}
.INT-padding {
  padding-left: 10rem;
  padding-right: 10rem;
}
.mt-10 {
  margin-top: 10rem;
}
.mt-12-5 {
  margin-top: 12.5rem;
}
.quotation {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 130%;
}
.split {
  display: flex;
  justify-content: space-between;
  gap: 8.44rem;
}
.split.ty2 {
  justify-content: flex-start;
  gap: 1.25rem;
}
.split.ty2 .split-left {
  width: 40.9375rem;
  flex-shrink: 0;
}
.split .split-left {
  flex-shrink: 0;
}
.split .split-right {
  width: 65.879rem;
}
.split .split-tit {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 130%;
}
.split .split-subtit {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}
.split.ty2 .split-tit {
  font-size: 3rem;
  font-weight: 300;
  line-height: 130%;
}
.split.ty2 .split-tit.bold {
  font-weight: 600;
}
.split .split-text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}
.split.ty2 .split-text {
  font-size: 1.5rem;
  line-height: 160%;
}
.split.ty2 .split-text + .split-text {
  margin-top: 2.5rem;
}
.tab-wrap {
  width: 100%;
  display: flex;
}
.tab {
  flex-grow: 1;
  padding: 0.88rem 2.5rem;
  border-bottom: 1px solid #1A1A1A;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 160%;
  text-align: center;
  color: #666;
}
.tab.on {
  border: 1px solid #1A1A1A;
  border-bottom: none;
  font-weight: 800;
  color: #1A1A1A;
}
.tab-wrap + .tab-cont {
  margin-top: 6.25rem;
}

/* 001 */
.int-text {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 130%;
}
.int-text .bold {
  font-weight: 700;
}
.int-text + .int-text {
  margin-top: 2.5rem;
}
.int-text.sm {
  font-size: 1.5rem;
  line-height: 160%;
}
.int-text.center {
  text-align: center;
}
.int-tit {
  font-size: 3rem;
  font-weight: 700;
  line-height: 130%;
}
.int-bg-wrap {
  display: flex;
  width: 100%;
  height: 67.5rem;
  padding: 10rem;
  background-size: cover;
  color: #fff;
}
.int-bg-wrap.bg1 {
  justify-content: flex-end;
  background-image: url(../images/img/INT_001_bg_01_pc.png);
  background-position: center bottom;
}
.int-bg-wrap.bg1 .int-tit {
  width: 100%;
  max-width: 49.375rem;
}
.int-bg-wrap.bg2 {
  background-image: url(../images/img/INT_001_bg_02_pc.png);
  background-position: center bottom;
}
.int-bg-text {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
}

/* 003 */
.greetings-box {
  position: relative;
  width: 100%;
  padding: 8rem 8.75rem;
  background: linear-gradient(92deg, #5A5858 -0.07%, #474649 99.93%);
  color: #fff;
}
.greetings-img {
  position: absolute;
  bottom: -2.55rem;
  right: 12.87rem;
  width: 37.8125rem;
  height: auto;
}
.greetings-text {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 130%;
}
.greetings-text.bold {
  font-weight: 700;
}
.greetings-ceo {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 3.75rem;
}
.greetings-ceo span {
  font-size: 1.75rem;
  font-weight: 800;
}

/* 006 */
.ci-box-wrap {
  width: 100%;
}
.ci-box-wrap + .ci-box-wrap {
  margin-top: 2.5rem;
}
.ci-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 22.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
}
.ci-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 12.5rem;
  border-left: 1px solid #ccc;
}
img.ci-box {
  margin-top: 2.5rem;
  height: auto;
  border: none;
}
.ci-img {
  width: calc(50% - 26%);
  max-width: 15rem;
  height: auto;
}
.ci-img:nth-child(odd) {
  margin-right: 13.282%;
}
.ci-img:nth-child(even) {
  margin-left: 13.282%;
}
.ci-text {
  margin-top: 1.25rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
}
.ci-color-wrap {
  display: flex;
  gap: 2.5rem;
}
.ci-color-area {
  width: calc(50% - 1.25rem);
}
.ci-color-tit {
  font-size: 2rem;
  font-weight: 700;
  line-height: 160%;
}
.ci-color-tit + .ci-color {
  margin-top: 2.5rem;
}
.ci-color::before {
  content: '';
  display: block;
  width: 100%;
  height: 6.25rem;
  margin-bottom: 2.5rem;
}
.ci-color.color-main::before {
  background-color: #121C72;
}
.ci-color.color-sub1::before {
  background-color: #1C4196;
}
.ci-color.color-sub2::before {
  background-color: #4DAC26;
}
.ci-color.color-sub3::before {
  background-color: #CCCCCC;
}
.ci-color + .ci-color {
  margin-top: 5rem;
}
.ci-color-text {
  display: flex;
  gap: 2.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}
.ci-color-text span {
  font-weight: 700;
}
.ci-color-text + .ci-color-text {
  margin-top: 0.25rem;
}

/* 007 */
.split .split-location {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
}
.split .split-location::before {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/icon/icon_location.svg);
  background-size: cover;
}
.map-wrap {
  position: relative;
  width: 100%;
  height: auto;
}
.map-btn_wrap {
  position: absolute;
  bottom: 2.755rem;
  right: 2.755rem;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
.map-plus {
  width: 3.25rem;
  height: 3.25rem;
  background-image: url(../images/img/btn_map_puls.svg);
}
.map-minus {
  width: 3.25rem;
  height: 3.25rem;
  background-image: url(../images/img/btn_map_minus.svg);
}
.map-wrap + .transport-wrap {
  margin-top: 3.75rem;
}
.transport-wrap {
  display: flex;
  justify-content: space-between;
}
.transport-area {
  width: calc(50% - 3.125rem);
}
.transport-tit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.88rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 160%;
}
.transport-tit.subway::before {
  content: '';
  width: 2rem;
  height: 2rem;
  background-image: url(../images/icon/icon_subway.svg);
  background-size: cover;
}
.transport-tit.bus::before {
  content: '';
  width: 2rem;
  height: 2rem;
  background-image: url(../images/icon/icon_bus.svg);
  background-size: cover;
}
.transport-method {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 160%;
}
.transport-mark {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.25rem;
  background-color: #39BE08;
  font-size: 1rem;
  font-weight: 700;
  line-height: 160%;
  color: #fff;
}
.transport-mark.purple {
  background-color: #9700E8;
}
.transport-mark.blue {
  background-color: #0022CA;
}
.transport-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
  color: #333;
}
.subway-wrap {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.subway-wrap .transport-method {
  width: 6.25rem;
}
.subway-wrap + .subway-wrap {
  margin-top: 1.88rem;
}
.bus-num {
  font-weight: 300;
  color: #999;
}
.bus-wrap + .bus-wrap {
  margin-top: 3.12rem;
}
.bus-wrap .transport-method {
  margin-bottom: 1rem;
}
.bus-wrap .transport-text {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.bus-wrap .transport-text + .transport-text{
  margin-top: 0.63rem;
}

@media screen and (max-width: 768px) {
  .INT {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  .INT-padding {
    padding-left: 1.87rem;
    padding-right: 1.87rem;
  }
  .INT-padding.p-pc {
    padding: 0;
  }
  .mt-10 {
    margin-top: 3.75rem;
  }
  .mt-12-5 {
    margin-top: 3.75rem;
  }
  .quotation {
    font-size: 1rem;
    font-weight: 900;
    line-height: 160%;
  }
  .split {
    flex-direction: column;
    gap: 2.5rem;
  }
  .split.ty2 {
    justify-content: flex-start;
    gap: 2.5rem;
  }
  .split.ty2 .split-left {
    width: 100%;
    flex-shrink: 0;
  }
  .split .split-right {
    width: 100%;
  }
  .split .split-tit {
    font-size: 1.75rem;
  }
  .split .split-subtit {
    margin-top: 0.75rem;
    font-size: 1rem;
    color: #333;
  }
  .split.ty2 .split-tit {
    font-size: 1.5rem;
  }
  .split.ty2 .split-tit.bold {
    font-weight: 700;
  }
  .split .split-text {
    font-size: 1rem;
    letter-spacing: -0.02rem;
  }
  .split.ty2 .split-text {
    font-size: 0.875rem;
  }
  .split.ty2 .split-text + .split-text {
    margin-top: 1.25rem;
  }
  .tab-wrap {
    gap: 2rem;
    padding: 0 1.88rem;
    border-bottom: 1px solid #E5E5E5;
    overflow-x: auto;
  }
  .tab-wrap.p-pc {
    padding: 0 1.88rem;
  }
  .tab {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 0 0.75rem 0;
    border: none;
    font-size: 0.875rem;
  }
  .tab.on {
    border: none;
    border-bottom: 2px solid #1A1A1A;
  }
  .tab-wrap + .tab-cont {
    margin-top: 3.75rem;
  }

  /* 001 */
  .int-text {
    font-size: 1.5rem;
    line-height: 130%;
    letter-spacing: -0.03rem;
  }
  .int-text.sm {
    font-size: 0.875rem;
    letter-spacing: -0.0175rem;
  }
  .int-text.center.mo-left {
    text-align: left;
  }
  .int-tit {
    font-size: 1.625rem;
  }
  .int-bg-wrap {
    height: 50.75rem;
    padding: 6.25rem 1.87rem;
  }
  .int-bg-wrap.bg1 {
    justify-content: flex-start;
    background-image: url(../images/img/INT_001_bg_01_mo.png);
  }
  .int-bg-wrap.bg2 {
    background-image: url(../images/img/INT_001_bg_02_mo.png);
  }
  .int-bg-text {
    gap: 1.25rem;
    justify-content: flex-start;
  }

  /* 003 */
  .greetings-box {
    width: 100%;
    height: 23.75rem;
    padding: 3.75rem 1.87rem;
  }
  .greetings-img {
    position: absolute;
    bottom: -1.365rem;
    right: -1.35rem;
    width: 19.813rem;
  }
  .greetings-text {
    font-size: 1.375rem;
  }
  .greetings-ceo {
    display: flex;
    gap: 0.625rem;
    margin-top: 1.25rem;
  }
  .greetings-ceo span {
    font-size: 1rem;
    font-weight: 700;
  }

  /* 006 */
  .ci-box {
    height: 10rem;
  }
  .ci-box::after {
    height: 5rem;
  }
  img.ci-box {
    margin-top: 1.25rem;
  }
  .ci-img {
    width: 6.25rem;
    height: 4.375rem;
  }
  .ci-img:nth-child(odd) {
    margin-right: 2rem;
  }
  .ci-img:nth-child(even) {
    margin-left: 2rem;
  }
  .ci-text {
    margin-top: 0.75rem;
    font-size: 0.875rem;
  }
  .ci-color-wrap {
    display: block;
  }
  .ci-color-area {
    width: 100%;
  }
  .ci-color-area + .ci-color-area {
    margin-top: 2.5rem;
  }
  .ci-color-tit {
    font-size: 1.375rem;
    font-weight: 800;
    line-height: 125%;
  }
  .ci-color-tit + .ci-color {
    margin-top: 0.75rem;
  }
  .ci-color::before {
    height: 3.75rem;
    margin-bottom: 0.75rem;
  }
  .ci-color + .ci-color {
    margin-top: 2.5rem;
  }
  .ci-color-text {
    font-size: 0.875rem;
  }
  .ci-color-text + .ci-color-text {
    margin-top: 0.25rem;
  }

  /* 007 */
  .split .split-location {
    font-size: 0.875rem;
  }
  .split .split-location::before {
    width: 1.25rem;
    height: 1.25rem;
  }
  .map-wrap + .transport-wrap {
    margin-top: 2.5rem;
  }
  .transport-wrap {
    flex-direction: column;
    gap: 3.75rem;
  }
  .transport-area {
    width: 100%;
  }
  .transport-tit {
    margin-bottom: 1.5rem;
    font-size: 1.375rem;
  }
  .transport-tit.subway::before {
    width: 1.5rem;
    height: 1.5rem;
  }
  .transport-tit.bus::before {
    width: 1.5rem;
    height: 1.5rem;
  }
  .transport-method {
    font-size: 0.875rem;
  }
  .transport-mark {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 0.75rem;
    line-height: normal;
  }
  .transport-text {
    font-size: 0.875rem;
  }
  .subway-wrap {
    gap: 0;
  }
  .subway-wrap .transport-method {
    width: 6.25rem;
  }
  .subway-wrap + .subway-wrap {
    margin-top: 0.75rem;
  }
  .bus-wrap + .bus-wrap {
    margin-top: 1.5rem;
  }
  .bus-wrap .transport-method {
    margin-bottom: 0.5rem;
  }
  .bus-wrap .transport-text {
    gap: 0.5rem;
  }
  .bus-wrap .transport-text + .transport-text{
    margin-top: 0.625rem;
  }
}