@charset "utf-8";

.mb-0 {
  margin-bottom: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}

.UTL-padding {
  padding: 6.25rem 10rem;
}

.login-wrap {
  /* padding: 7.875rem 0; */
  max-width: 32.5rem;
  margin: 0 auto;
}

.utl-head-area {
  margin-bottom: 3.75rem;
  padding-bottom: 2.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid #1a1a1a;
}
.utl-head-area .head-tit {
  color: #1a1a1a;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 0.75rem;
  letter-spacing: -0.5px;
  text-align: center;
}
.utl-head-area .head-desc {
  color: #333;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.5px;
}
.login-box-area .wrap-form-input > input {
  padding: 1rem;
}
.login-box-area .form-group {
  padding-bottom: 1.25rem;
}
.login-box-area .wrap-check {
  padding-bottom: 2.3125rem;
}
.login-box-area .login-btn-wrap {
  padding-bottom: 2.5rem;
}
.login-box-area .login-btn-wrap .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-box-area .sub-btn-wrap {
  text-align: right;
}

.utl-form-wrap { 
  /* margin-bottom: 3.75rem; */
  width: 100%;
  max-width: 1060px;
  margin: 0 auto 3.75rem;
}
.utl-form-wrap .utl-head-area {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 3.75rem;
}
.utl-form-wrap .utl-head-area .head-tit {
  margin-bottom: 0;
}

.form-list {
  padding-bottom: 2.5rem;
}
.form-list .wrap-form.textarea {
  width: 100%;
}

.form-list-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: #1a1a1a;
  margin-bottom: 0.75rem;
  letter-spacing: -0.5px;
}

.form-list-item {
  border-top: 2px solid #1a1a1a;
}
.form-list-item > .form-group {
  padding: 1.25rem 0 1.25rem 1rem;
  border-bottom: 1px solid #e5e5e5;
}
.form-list-item > .form-group .label-tit {
  width: 100%;
  max-width: 13.625rem;
}
.form-list-item > .form-group .wrap-form-input {
  width: 100%;
  max-width: 520px;
}
.form-list-item > .form-group .form-desc {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #1a1a1a;
  letter-spacing: -0.28px;
  margin-top: 0.25rem;
}
.form-list-item > .terms-check-wrap {
  display: flex;
  justify-content: flex-end;
}

.box-info-wrap {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  padding: 1.875rem 2.5rem;
}
.info-list {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #333;
  letter-spacing: -0.5px;
}
.info-list > li:not(:last-child) {
  padding-bottom: 0.5rem;  
}
.box-info-wrap.terms {
  margin: 1.25rem 0 1.5rem 0;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  background: #fff;  
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.5px;
  padding: 0;
}
.box-info-wrap.terms .info-list > li:not(:last-child) {
  padding-bottom: 0;
  margin-bottom: 0.25rem;
}
.box-info-wrap.terms .info-list > li {
  position: relative;
  padding-left: 1.875rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  color: #1a1a1a;

}
.box-info-wrap.terms .info-list > li:before {
  content: '';
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background: #1a1a1a;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 12px;

}
.utl-btn-area {
  display: flex;
  justify-content: center;
}

.utl-btn-area .btn-wrap {
  display: flex;
  gap: 0.625rem;
}

/* sign 폼 */
.sign-form-list-wrap {
  margin-bottom: 2.5rem;
}
.sign-form-area .sign-form-list:not(:last-child) {
  padding-bottom: 3.25rem;
}
.sign-form-area .sign-form-list.ty02:not(:last-child) {
  padding-bottom: 2.5rem; 
}
.sign-form-area .box-info-wrap {
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  border: 0;
}
.sign-form-list .sign-desc {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  padding-bottom: 1.5rem;
}
.sign-form-list .sign-desc strong {
  font-weight: 700;
}
.sign-form-list .sign-desc .name {
  position: relative;
  padding: 0 1.25rem;
}
.sign-form-list .sign-desc .name::after {
  content: '';
  display: inline-block;
  width: 102px;
  height: 2px;
  background: #1a1a1a;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sign-form-list .sign-check-wrap .wrap-form {
  justify-content: flex-end;
  flex-direction: row;
}
.sign-form-info-wrap {
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.sign-form-info-wrap .date {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  font-weight: 700;  
}
.sign-form-info-wrap .date em {
  padding: 0 4px 0 16px;
}
.sign-form-info-wrap .info {
  font-weight: 400;
}
.sign-form-info-wrap .info [class^="info-txt"]:not(:last-child) {
  padding-bottom: 2.5rem;
}
.sign-form-info-wrap [class^="info-txt"] {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.sign-form-info-wrap [class^="info-txt"] .form-group:not(:last-child) {
  margin-bottom: 0.5rem;
}
.sign-form-info-wrap [class^="info-txt"] p:not(:last-child) {
  margin-bottom: 0.5rem;
}
.sign-form-info-wrap [class^="info-txt"][class*="right"] {
  align-items: flex-end;
}
.sign-form-info-wrap [class^="info-txt"][class*="center"] {
  align-items: center;
}
.terms-contents {
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: -0.5px;
}
.terms-contents .terms-title {
  font-weight: 700;  
  margin-bottom: 0.5rem;
}
.terms-contents .terms-desc {
  font-weight: 400;
}
.terms-group .terms-list:not(:last-child) {
  margin-bottom: 1rem;
}
.terms-group.ty02 .terms-list:not(:last-child) {
  margin-bottom: 0.5rem;
}
.terms-group .terms-list .terms-list-sub {
  padding: 0.5rem 0 0 2.25rem;
}
.terms-agree-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.terms-agree-wrap .desc {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: -0.5px;
}

/* 임시 레이아웃 깨짐 방지 미디어쿼리 적용 */ 
@media screen and (min-width: 769px) and (max-width: 1360px) {
  .UTL-padding {
    padding: 6.25rem 5rem;
  } 
  .terms-agree-wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  .terms-agree-wrap .terms-check-wrap {
    align-self: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .UTL-padding {
    padding: 3.75rem 1.375rem 1.25rem;
  }
  .login-wrap {
    padding: 0;
    max-width: revert;
  }
  .utl-head-area {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #1a1a1a;
  }
  .utl-head-area .head-tit {
    font-size: 1.5rem;
    line-height: 1.95rem;
    margin-bottom: 0.25rem;
    letter-spacing: -0.48px;
  }
  .utl-head-area .head-desc {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: -0.48px;
  }
  .login-box-area .wrap-check {
    padding-bottom: 3.75rem;
  }
  .login-box-area .login-btn-wrap {
    padding-bottom: 1.25rem;
  }

  .utl-form-wrap {
    margin-bottom: 2.5rem;
  }
  .utl-form-wrap .utl-head-area {
    margin-bottom: 2.5rem;
  }
  .utl-form-wrap .utl-form-area,
  .utl-form-wrap .sign-form-area {
    padding: 0 0.5rem;
  }
  .utl-form-wrap .box-info-wrap {
    margin: 0 0.5rem;
  }  
  .form-list-title {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 0.75rem;
    letter-spacing: -0.32px;
  }
  .form-list-item > .form-group {
    padding: 1.25rem 0;
    border-bottom: 1px solid #e5e5e5;
    display: block;
  }
  .form-list-item > .form-group .label-tit {
    max-width: revert;
    margin-bottom: 0.5rem;
  }
  .form-list-item > .form-group .wrap-form-input {
    max-width: revert;
  }
  .form-list-item > .form-group .form-desc {
    font-size: 0.75rem;
    line-height: 0.975rem;
    letter-spacing: -0.24px;
  }

  .box-info-wrap {
    padding: 1.5rem 1rem;
  }
  .box-info-wrap.terms {
    margin: 1.25rem 0 1.25rem;
    color: #333;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
  }
  .box-info-wrap.terms .info-list > li {
    color: #333;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
    padding-left: 1.25rem;
  }
  .box-info-wrap.terms .info-list > li:before {
    left: 8px;
    width: 0.125rem;
    height: 0.125rem;
  }
  .info-list {
    font-size: 0.875rem;
    line-height: 1.4rem;
    letter-spacing: -0.28px;
  }
  .info-list > li:not(:last-child) {
    padding-bottom: 0.75rem;
  }
  .utl-btn-area {
    margin-bottom: 0;
  }
  .utl-btn-area .btn-wrap {
    display: flex;
    flex: 1 1 auto;
    margin: 0 0.5rem;

  }
  .utl-btn-area .btn-wrap .btn {
    width: 100%;
  }

  /* sign 폼 */
  .sign-form-area .sign-form-list:not(:last-child) {
    padding-bottom: 2.5rem;
  }
  .sign-form-area .sign-form-list.ty02:not(:last-child) {
    padding-bottom: 1.5rem;
  }
  .sign-form-area .box-info-wrap {
    margin: 0 0 2.5rem;
  }
  .sign-form-list .sign-desc {
    font-size: 1rem;
    line-height: 1.6rem;
    padding-bottom: 0.75rem;
  }
  .sign-form-list .sign-desc .name {
    padding: 0 0.625rem;
  }
  .sign-form-list .sign-desc .name::after {
    width: 62px;
  }
  .sign-form-list .sign-check-wrap .wrap-form {
    justify-content: flex-end;
    flex-direction: row;
  }
  .sign-form-info-wrap {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .sign-form-info-wrap .date em {
    padding: 0 2px 0 10px;
  }
  .sign-form-info-wrap [class^="info-txt"] p:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .sign-form-info-wrap .info.ty02 [class^="info-txt"] {
    display: block;
  }
  .sign-form-info-wrap .info.ty02 [class^="info-txt"] .form-group {
    display: block;
  }
  .sign-form-info-wrap .info.ty02 [class^="info-txt"] .form-group .label-tit{
    margin-bottom: 0.5rem;
  }
  .sign-form-info-wrap .info.ty02 [class^="info-txt"] .form-group:not(:last-child) {
    margin-bottom: 1rem;
  }
  .sign-form-info-wrap .info.ty02 [class^="info-txt"][class*="center"] {
    text-align: center;
  }

  .terms-contents {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .terms-group .terms-list .terms-list-sub {
    padding: 0.25rem 0 0 1.125rem;
  }
  .terms-agree-wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  .terms-agree-wrap .desc {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .terms-agree-wrap .terms-check-wrap {
    align-self: flex-end;
  }
}
